[2018-10-09 09:54] hoanglan87 opened #282 "Missing header for LinkedInProvider"
Hi,
I found out for LinkedIn to work with API calls, I need to add into the header this value`'x-li-src' => 'msdk',` into `headers` array

[2018-10-10 16:05] dfmurillo opened #284 "Please update Facebook version to 3.1"

[2018-10-12 09:11] driesvints commented on #284
Please provide a clear and thorough reason for this and preferable send in a PR.

[2018-10-12 09:11] #284 closed

[2018-10-12 09:12] driesvints commented on #282
Please send in a PR for this and further explain why this is necessary. Perhaps link to the LinkedIn API docs to the place where they explain why this is required.

[2018-10-12 09:12] #282 closed

[2018-10-25 10:33] Nagraj722 opened #290 "The Response content must be a string or object implementing"
I'm trying to get user details using google , facebook and Twitter. but im unable to success from last two days.  after login gmail auth, url redirected to callback url and getting below error.

The Response content must be a string or object implementing __toString(), "object" given.

  //Controller code
 public function redirectToProvider()
    {
        return Socialite::driver('google')->redir

[2018-10-25 10:54] driesvints commented on #290
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs or problems. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com

[2018-10-25 10:54] #290 closed

[2018-11-02 14:49] srikanth240369 opened #293 "Google & Facebook logins not working in mobile browsers"
Google & Facebook logins not working in mobile browsers. It is showing 400 error redirect_uri_mismatching(Even if it is correct)
![352d6770-06fc-4bad-8fdc-0f5a08293f13](https://user-images.githubusercontent.com/12655260/47922224-8deb9c80-dedc-11e8-942a-b08ca1da3a7c.jpg)

[2018-11-05 10:00] driesvints commented on #293
I suspect that this isn't a Socialite bug but rather an incorrect configuration somewhere. Can you please try one of the following support channels and report back if you have confirmed that the bug is indeed coming from Socialite?

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](htt

[2018-11-05 10:00] #293 closed

[2018-11-05 19:22] alexgomez88 opened #294 "Failed login with google"
I got this issue ones i upload to the server:

Client error: `POST https://accounts.google.com/o/oauth2/token` resulted in a `400 Bad Request` response: { "error": "invalid_request", "error_description": "Missing required parameter: code" }

any solution, thx in advance.

[2018-11-06 09:54] driesvints commented on #294
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2018-11-06 09:54] #294 closed

[2018-11-13 09:44] tereaksmey123 commented on #293
@srikanth240369 i meet this problem before maybe u set Driver (callback url )in server.php difference from the callbacl url u config in Facebook Dev / Google console redirect url check that.

[2018-11-17 09:59] atanderG opened #301 "403 error in google auth"
i m using laravel 5.6 and socialite 3.0, all other APi are working except google showing HTTP Error 403 - Forbidden. I have tried everywhere on google, stackoverflow but no answar. What is the issue

[2018-11-19 10:05] driesvints commented on #301
Can you post the links to the places where you asked for help? This would help us find out what the problem is faster.

[2018-11-20 05:05] atanderG commented on #301
The link is : https://www.openbooktutorials.com/home

I have to remove profile, and id from socialte googleManager.php class to
make it working.. (Now it is working).
Have I done the right thing? or there is some thing else I might be missing?

Thanks

On Mon, Nov 19, 2018 at 3:35 PM Dries Vints <notifications@github.com>
wrote:

[2018-11-20 09:40] driesvints commented on #301
This isn't a link to stackoverflow like you said. Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.

[2018-11-20 09:40] #301 closed

[2018-11-20 09:52] atanderG commented on #301
https://stackoverflow.com/questions/53348777/socialite-laravel-authantication-error-with-google-api/53349266#53349266

On Tue, Nov 20, 2018 at 3:11 PM Dries Vints <notifications@github.com>
wrote:

[2018-12-04 17:29] karimsamir opened #305 "I can't modify fields in Linkedin"
This is the Code I am using

[code]

but positions never return, I debugged the file

` vendor/laravel/socialite/src/Two/LinkedInProvider.php `
and var_dump
`$fields`
and it didn't change the default fields

[2018-12-06 21:10] driesvints commented on #305
Since we don't support that field ourselves it's best that you try asking this elsewhere:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&prompt=1)
- [StackOverflow](https://stackoverfl

[2018-12-06 21:10] #305 closed

[2018-12-14 05:06] vinothabc opened #308 "Type error: Argument 1 passed to league\OAuth1\Client\Server::getTokenCredentials() in twitter"
Type error: Argument 1 passed to league\OAuth1\Client\Server::getTokenCredentials().
When i am first time twitter login, get this issue.
Refer this screen short
                  https://prnt.sc/lu2jpi

[2018-12-14 13:31] driesvints commented on #308
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2018-12-14 13:31] #308 closed

[2018-12-17 05:11] noeurphireak opened #309 "Issue with oAuth 2.0 LinkedIn Upgrade API Web Service"
I got this error when I try to login with my LinkedIn Account
`laravel/socialite": "^3.1"`

and here is script
`$userSocial = Socialite::driver('linkedin')->user();`

here is the developer update from linkedin
(https://engineering.linkedin.com/blog/2018/12/developer-program-updates)

Client error: `GET https://api.linkedin.com/v1/people/~:(id,first-name,last-name,formatted-name,email-address,headl

[2018-12-17 14:56] Rias500 commented on #309
+1 All social logins with LinkedIn are now broken

[2018-12-17 20:30] driesvints commented on #309
I've been working on a solution and believe I'm nearly there but at the moment I'm bumping into the following error when performing a request to the `https://api.linkedin.com/v2/me` endpoint.

[code]

It seems I have no permissions to perform an API request to the endpoint even though I correctly authenticated and have added the correct scopes. Some suggest you need permission from LinkedIn itself

[2018-12-17 22:48] tomsisk commented on #309
Our application does not have a problem right now (not sure if it did earlier). The linked update says v1 to be retired in March, so it sounds like they may have just messed up by breaking this earlier?

@driesvints Try using `r_liteprofile` instead of `r_basicprofile`. Their v2 API mentions nothing about `r_basicprofile` when it comes to Sign In with LinkedIn:

https://docs.microsoft.com/en-us/li

[2018-12-18 11:14] driesvints commented on #309
@tomsisk thanks. That wasn't really obvious at the beginning because with the `r_basicprofile` you're suppose to get much more fields. I've updated it to that scope and it now works 👍

I'll send in a PR in a bit.

[2018-12-18 14:32] driesvints commented on #309
Merged and should be fixed with the next major release.

[2018-12-18 14:32] #309 closed

[2018-12-19 07:39] bocahptualang opened #314 "Issue with Google+ Provider"
Error when authenticate with google+ provider (Socialite version 4.0.0).
I tried downgrade socialite version to 3.1.1 and it is working.

![image](https://user-images.githubusercontent.com/9653331/50205537-2bbafe00-039b-11e9-8829-224155f0adfa.png)

`GoogleProvider.php`
![image](https://user-images.githubusercontent.com/9653331/50205464-e5fe3580-039a-11e9-8a66-cb3272749cad.png)

Anyway, is there an

[2018-12-19 13:18] rjvandoesburg commented on #314
I too am experiencing this problem with a newly created token. On another website (different token) I am still receiving `displayName`.

Attached 2 different responses:
[old.txt](https://github.com/laravel/socialite/files/2694966/old.txt)
The old one is from another implementation

[new.txt](https://github.com/laravel/socialite/files/2694965/new.txt)
This is the response I'm getting from a newly g

[2018-12-19 13:19] NicolaeCasir commented on #314
Good job man. I just wanted to make PR... With email its OK.. but with name, its a problem... i've edited GoogleProvider in vendor but im waiting for merge!

[2018-12-19 13:23] rjvandoesburg commented on #314
Merging the PR will break my other implementations so more investigation is needed or the PR need to be updated to accommodate both responses

[2018-12-19 14:38] murugesan-clarion opened #315 "Bad Request - Invalid Scope - Scope Parameter Error - AADSTS70011"
We have created an App under MS app section & using it for Calendar synchronization. While we are trying to authenticate the MS account from our website, it returns back to the website & throwing the above error.

Code: Socialite::driver($provider)->stateless()->user();

Specifically, when we used the above statement, we are getting the error. We tried changing all the App permission, tried with n

[2018-12-20 11:11] driesvints commented on #314
Just merged the PR. I'll tag a new release in a bit.

[2018-12-20 11:11] #314 closed

[2018-12-20 11:24] driesvints commented on #315
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2018-12-20 11:24] #315 closed

[2018-12-21 02:56] noeurphireak commented on #309
Okay thank @driesvints and everyone for your time answer my question. I will try that

[2018-12-21 05:17] fhriz opened #317 "[v3] Google+ APIs being shutdown"
Hi,

I'm still using laravel 5.4 for php version reason. But, I got an email which saying that Google+ APIs being shutdown. But, unfortunately the changes are made for v4. Could you help me how I can use the changes which made in #283 for v3 ?

Thanks

[2018-12-21 09:17] dionmes commented on #317
Same here, still on 5.5 because of the LTS. I also got the email from Google that 'plus.people.get' method is being called and its deprecated.

[2018-12-21 15:03] #317 closed

[2018-12-21 15:03] driesvints commented on #317
Pr got merged. You can pull in `3.0.x-dev` if you like.

[2018-12-28 20:20] lipiniak opened #320 "Facebook - loging via telephone number"
Hi,
Im using socialite for some time and i faced problem with loging via facebook.
Some users got new Facebook acounts registered via telephone number not email, so they are loging via phone number and e-mail field is empty. On my application socialite module is throwing errors that it cant find email adress or email is empty.
Is there any override or solution for this problem?

[2018-12-29 00:33] ronlinet opened #321 "Use Socialite to authenticate with YouTube API"
Would you have a working example of how to use Socialite to authenticate with the Google/YouTube API and pull some data / playlists / videos ?

[2018-12-29 12:54] driesvints commented on #321
Hey @ronlinet. You can find an authenticator for Youtube here: https://socialiteproviders.netlify.com/providers/you-tube.html

[2018-12-29 12:54] #321 closed

[2018-12-29 12:55] driesvints commented on #320
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2018-12-29 12:55] #320 closed

[2018-12-29 16:47] driesvints commented on #320
Our user implementation only allows for email addresses as authentication so I don't think this is a bug. Maybe the Facebook provider from here does what you need? https://socialiteproviders.netlify.com/providers/facebook.html

[2018-12-31 19:17] ronlinet opened #322 "Driver [YouTube] not supported."
The method
`return Socialite::with('YouTube')->redirect();`
is returning driver not supported error.

Has this package ever been tested with the Youtube provider => https://socialiteproviders.netlify.com/providers/you-tube.html ?

I am running Laravel 5.5.44

( Child issue of #321 )

[2018-12-31 19:42] ronlinet commented on #322
This may more appropriate issue for SocialiteProviders so I have opened a ticket in their own project => https://github.com/SocialiteProviders/Providers/issues/242 . You can still give a hand if you have a fix .

[2019-01-02 16:55] driesvints commented on #317
@kennith since we don't support 3.0 anymore probably not

[2019-01-03 10:40] kidager commented on #317
@driesvints I don't understand, if Laravel 5.5 is LTS (and is still supported) and it uses Socialite `^3.0`, shouldn't it still be supported too ? If not what's the point of it being an LTS version if used **laravel** libraries aren't.

Following that logic, someone creating a fresh laravel project using version 5.5 (I'm totally against, but it is still supported) will not be able to install a wor

[2019-01-03 11:17] driesvints commented on #317
@kidager LTS only applies for the framework and not the other libraries.

[2019-01-03 14:35] GrahamCampbell commented on #317
PHP has one of the best package ecosystems of any language actually, so I disagree.

[2019-01-03 14:48] kidager commented on #317
I totally agree with you there. But this is going to be a critical bug for every Socialite user managing a Laravel installation of v5.6 or less (Keeping always in mind that 5.5 is still supported and that **laravel/socialite** is part of laravel, not included by default, but still a part of the laravel ecosystem)

So seeing that a simple fix won't be applied for a library we're using in prod does

[2019-01-03 15:04] driesvints commented on #317
@kidager we merged the pr and you can require it with Composer by requiring `3.0.x-dev` like I said above.

[2019-01-03 15:16] driesvints commented on #317
Honestly, if all you're going to do is complain it's best that we just lock this.

[2019-01-08 12:02] benjam-es commented on #301
Hi,

This is an issue that is happening for me too. I have tried all solutions from several links on stackoverflow and laracasts found via a google search.

For me, I have a test website and live website... https://test.mysite.com and https://www.mysite.com. The odd thing is that this was fully tested and working (and still does) on the test domain, but give me a 403 error when using google on the

[2019-01-08 12:12] driesvints commented on #301
@benjam-es can you try upgrading to the latest laravel and socialite version?

[2019-01-08 12:18] benjam-es commented on #301
The project is currently heavily tied to Laravel 5.5.x meaning im stuck on Socialite v3.x at the moment.

[2019-01-08 12:20] driesvints commented on #301
@benjam-es does using the solution from here work? https://github.com/laravel/socialite/pull/319#issuecomment-450829869

[2019-01-08 12:21] benjam-es commented on #301
From bugsnag also if this helps

  | public function user()
-- | --
  | {
  | if ($this->hasInvalidState()) {
  | throw new InvalidStateException;
 }
  
$response = $this->getAccessTokenResponse($this->getCode());

[2019-01-08 12:32] benjam-es commented on #301
I've not pulled in that dev branch, and am still getting the same problem.

[2019-01-08 12:36] atanderG commented on #301
https://www.openbooktutorials.com/

On Tue, Jan 8, 2019 at 6:02 PM Ben James <notifications@github.com> wrote:

[2019-01-08 12:40] benjam-es commented on #301
Not sure what that URL is for.. perhaps to do with my previous typo of NOT instead of NOW?

It's just a homepage of tutorials unrelated to this issue.

[2019-01-08 13:01] driesvints commented on #301
@benjam-es unfortunately we don't support 3.0 anymore. You'll have to upgrade and see if the newer version helps.

[2019-01-19 07:13] aoatridge opened #328 "Linkedin Oauth fails of user is missing a profile picture"
Using
`"laravel/socialite": "^4.0"`

I get a "array_filter() expects parameter 1 to be array, null given" when it tries to run mapUserToObject() in socialite/src/Two/LinkedInProvider.php.

My test account is missing an avatar image.
var_dump of the $user object passed to it.
[code]

[2019-01-19 20:01] aoatridge commented on #328
Confirmed that it works with a linkedin account that has an avatar pic.

[2019-01-21 10:34] Crypton33 commented on #328
I'm experiencing a similar problem, but in my case even this code doesn't work:
`Socialite::driver('linkedin')->user()`

I'm getting the error:
`array_filter() expects parameter 1 to be array, null given`
And it happens in the same function.

[2019-01-21 11:00] driesvints commented on #328
@Crypton33 probably the same error. And it can't have happened on that line because there's no array_filter call there. It's probably happening inside the `mapUserToObject` call.

[2019-01-21 11:05] #328 closed

[2019-01-21 11:08] driesvints commented on #328
Released 4.0.2 with a bugfix for this. Can you try again?

[2019-01-21 11:19] Crypton33 commented on #328
Works fine now, thanks 👍

[2019-01-24 07:07] gaursinghveer007 opened #330 "Dynamic configuration is giving error for Google."
I am trying to set dynamic configuration for Google Login. Please check below code. I am using Php framework.

$config = [
                'client_id'    => 'xxxxxxxxxxxxxxxxxxx',
                'client_secret' => 'xxxxxxxxxxxxxxxxxx',
                'redirect'     => 'http://www.test.com/google/callback/',
];

return Socialite::buildProvider(\Laravel\Socialite\Two\GoogleProvider::class, $config

[2019-01-24 10:07] EntonoX opened #331 "confirm twice redirect outside handleCallback"
Hello,

I came accross an issue which i found quite strange. i have this callback function:

public function handleProviderCallback(Request $request, $provider)
    {
        try {
            $socialUser = Socialite::with($provider)->user();
            if ($socialUser) {
                $this->socialLogin($request, $socialUser, $provider, $socialUser->token);
            }
        } catch (Inval

[2019-01-24 12:21] driesvints commented on #330
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-01-24 12:21] #330 closed

[2019-01-24 12:21] driesvints commented on #331
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-01-24 12:21] #331 closed

[2019-01-30 05:01] Kaustabh13 opened #332 "Undefined Index: Image for Google Login Provider"
Hi, I have recently updated Laravel Socialite from v^3 to v^4.0.3 and disabled the Google+ API. So, now when I try to register using Google then, I am getting this error which says  **'Undefined Index: Image'**. Can you go ahead and check if everything is fine?
<img width="1051" alt="screenshot 2019-01-30 at 10 31 24 am" src="https://user-images.githubusercontent.com/47168538/51959417-38db0a80-247

[2019-01-30 05:05] #332 closed

[2019-01-30 20:53] AlessBet opened #333 "Enhancement: interface with Instagram"
Hi all,
would it be possible to expand the library to be able to interface with Instagram so that social login using it will be possible?

I would like to contribute more but my coding skills are way too limited.

[2019-01-30 21:21] driesvints commented on #333
Heya, you can use this one: https://socialiteproviders.netlify.com/providers/instagram.html

[2019-01-30 21:21] #333 closed

[2019-01-31 17:12] nagavinodcse opened #334 "Facebook OAuth exception - the app is configured as a desktop app"
```Client error: `POST https://graph.facebook.com/v3.0/oauth/access_token` resulted in a `400 Bad Request` response: {"error":{"message":"The request is invalid because the app is configured as a desktop app","type":"OAuthException","cod (truncated...)```

i am getting this error when i am trying to login using facebook any ideas about this ? please do give any suggestions to get this work out....

[2019-01-31 21:09] rajjanorkar opened #335 "Google+ APIs being shutdown can we add patch to version 3.*"
I got below mail from google, about google plus shutdown.

I am using socialite version 3, is it possible to add the fix in that version please.

thank you.

Dear Developer,

Earlier this week we sent you an email related to your projects that will be impacted by the Google+ API shutdown, which also affects requests for Google+ OAuth scopes.

The email listed that one or more of your projects are

[2019-02-01 01:58] rajjanorkar commented on #335
I can see it has been fixed in version 4.*, can we release the same fix into version 3.* (may be in v3.2.1)

[2019-02-02 06:51] msonowal commented on #335
It is there in the code but it is not tagged
Please tag for version 3 for Google SignIn as all the Laravel 5.5 LTS users are effected
ping @taylorotwell @driesvints

[2019-02-04 07:20] rajjanorkar commented on #335
Hi guys,

anything can be done here.. please? My multiple apps needs update... and i guess many other peoples are facing issue...

@taylorotwell @lucasmichot @GrahamCampbell

[2019-02-04 09:08] driesvints commented on #334
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-02-04 09:08] #334 closed

[2019-02-04 09:37] driesvints opened #337 "Make sure Google Provider is compatible with Google Sign-in"
Since the old Google Plus functionality is going to be deprecated we'll need to make sure that we can use the suggested alternative Google Sign-in instead.

New OAuth2 functionality: https://developers.google.com/identity/protocols/OAuth2
Shutdown notice: https://developers.google.com/+/api-shutdown

[2019-02-04 10:48] No148 commented on #337
@driesvints I tried to migrate to google sign-in using version 3 of socialite. I read the documentation and found this notes [https://developers.google.com/identity/sign-in/web/quick-migration-guide](url)
I have a custom socialtite provider so I was able to override methods from standart providers of socialite.
I created new api keys google sign-in, disabled google+ api in console and it worked as

[2019-02-04 18:41] No148 commented on #337
@eaverdeja I don't really know for sure at the moment... I've changed api key and created a specific api key for google sign-in. (which was only possible from this page https://developers.google.com/identity/sign-in/web/sign-in) After using it I just have my fingers crossed... But everything seems to be working fine right now. I wish I knew more, mate!

[2019-02-05 06:16] msonowal commented on #335
@driesvints
I know we can use it like that but what i requested it to tag a release as it is stable and official working as per Google SignIn. as because all the LTS 5.5 users are affected I wanted you to tag that as soon as possible

[2019-02-05 06:20] rajjanorkar commented on #335
@msonowal don't worry thats not gonna happen...

This guy @driesvints is in so much hurry wanna close all the issues created here without properly addressing it...

He will lock this as well... so basically we have to f**k ourself..

[2019-02-05 08:56] rajjanorkar commented on #337
- Just pull 3.0.x-dev
- No need to change anything in google developer console
- No need to change/create new api key/secrete etc.
- No other changes if you are not adding any additional scope (other than what package have)

It should just work fine.. i Tested it and it worked.

[2019-02-05 09:06] driesvints commented on #335
@msonowal You can import the fix with the requirement I listed above. I don't see how a tag will help you more than that.

@rajjanorkar please realize the effort that goes into maintaining open source software and that you're using all of this for free. You can fork the repo, tag the branch and publish it on Packagist with a different vendor name if you really want that.

And yes I'm going to lock

[2019-02-08 10:15] 2bj opened #338 "Cannot login with state, if I use multi guard"
If I logged in one of my guards (for example, `guard:admin`), I cannot login with another guard (for example `guard:web`) with socialite with state (without state works fine), because session always regenerated for every refresh.

Is it bug or feature? :)

[2019-02-08 21:33] wotta opened #339 "Logging in with bitbucket isn't working as expected"
So I am running against a problem which I didn't expect when I follow the documentation.

I have the following version of socialite installed (composer.lock):
[code]

And I am running the following code:
[code]

This will always get an exception back.
So I tracked this down to the point where socialite is always asking for a "code" that should be in the request but is always `null`.

I hope anyone

[2019-02-08 22:55] driesvints commented on #338
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2019-02-08 22:55] #338 closed

[2019-02-08 22:56] driesvints commented on #339
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-02-08 23:23] wotta commented on #339
@driesvints Thanks for the reply, I have posted my question with link on `Laracasts` but I strongly have the feeling that the functionality on itself isn't actually working.

That's also a small problem with this package since testing this can be very hard.
When Laracasts can't help would there be an option to chat somewhere so to figure this one out?

[2019-02-10 13:57] Hujjat commented on #294
I think this is bug, I tried all the options but it's not working. Please test it with latest version of Google API.

It works just fine for Facebook. But for Google, the code is missing.

[2019-02-11 03:23] cincauhangus commented on #337
how can i make this compatible with laravel 5.2.x?

[2019-02-11 11:08] driesvints commented on #337
@cincauhangus 5.2.x isn't supported anymore. Please upgrade to the latest version.

[2019-02-11 16:15] chrisGeonet commented on #309
Is it possible to update this in the v3 branch? My site can't be updated past Laravel 5.4/

[2019-02-11 16:41] driesvints commented on #309
@chrisGeonet no since v3.0 uses the old implementation and it'll break for people who are still on it. You'll have to upgrade to 4.0.

[2019-02-11 19:58] maidul98 opened #341 "Sending login token back to frontend after login"
My auth is done using a Passport. I have successfully logged in and return the callback with the user. However, when the frontend hits the endpoint that sends them off to Google Login, there is no way to return a  token from the first endpoint since the user already left the site. How can I send back a token to frontend? Or should I use something else to login users via social accounts on the fron

[2019-02-12 10:01] driesvints commented on #341
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-02-12 10:01] #341 closed

[2019-02-12 10:21] chrisGeonet commented on #309
Sorry, I don't understand your reasoning.
Are you saying that if the V3 code is updated, it will break existing V3 implementations?
It will break anyway when LinkedIn discontinue the V1 API on March 1st.

The Google authentication was updated on V3 when the GooglePlus API was discontinued.

Upgrading isn't always an option for older sites.

[2019-02-12 10:24] driesvints commented on #309
@chrisGeonet if we replace the current code on v3 with the new LinkedIn integration, everyone who uses the current old LinkedIn integration will see their apps break. If you want to use the new LinkedIn integration you'll need to update to v4.

[2019-02-12 10:46] driesvints commented on #339
At the moment I don't have the time to look into this further so appreciating any help with this.

[2019-02-14 13:34] tecreasey opened #344 "Magento"
Is it possible to create a way to use Magento with Laravel Socialite?

[2019-02-14 13:38] driesvints commented on #344
Not as a 1st party. I checked https://socialiteproviders.netlify.com/about.html but there wasn't one listed so you'll have to build your own or search for one.

[2019-02-14 13:38] #344 closed

[2019-02-14 13:42] tecreasey commented on #344
I am happy having a go at creating one I was just wondering whether it could be done.

[2019-02-14 13:43] driesvints commented on #344
Socialite can have custom providers (as you see with the link above) but I don't know anything about Magento to know how that would be implemented.

[2019-02-15 14:28] Casperhr commented on #337
Any plans for a 2.x fix?

[2019-02-15 15:12] driesvints commented on #337
@Casperhr we actually pushed a 2.0 fix a couple of days ago. Use `2.0.x-dev` to pull it in.

[2019-02-15 15:13] driesvints commented on #337
Friendly reminder to not rely on `-dev` versions to long and to upgrade your apps eventually.

[2019-02-18 10:50] PaulBorozdin opened #345 "FacebookProvider.php getUserByToken returns null;"
Current
return json_decode($response->getBody(), true);
Should be changed to
return json_decode($response->getBody()->getContents(), true);

[2019-02-18 11:56] driesvints commented on #345
I don't think so. All implementations have the first one and they work just fine.

[2019-02-18 11:56] #345 closed

[2019-02-22 13:58] driesvints commented on #339
Just tested this with the latest Socialite release and it works as expected.

I believe the `back` part of your code is causing you to get redirected back to bitbucket oauth screen which then fails because the code isn't sent along. This is normal and you shouldn't use `back`. Instead in your `catch` you should direct to whatever screen you came from.

[2019-02-22 13:58] #339 closed

[2019-02-22 14:57] #337 closed

[2019-02-25 06:53] Nirjhor3029 commented on #294
same problem here i'm just facing it.
the funny thing is i recently found a solution from stackoverflow that from
------------------------------
the solution is to remove the profile from scopes in vendor\laravel\socialite\src\Two\GoogleProvider.php

protected $scopes = [
    'openid',
    'email',
];
-----------------
but when i removed the 'profile' scope it works fine for login only [ like who

[2019-02-26 11:03] HoughtonChristopher opened #347 "Logging in to a Linkedin profile that doesn't have an email attached causes undefined offset 0"
ln 98 in LinkedinProvider return json_decode($response->getBody(), true)['elements'][0]['handle~'];

[2019-02-26 11:07] driesvints commented on #347
Okay, I can see this going wrong but how is it possible that a profile doesn't has an email attached?

[2019-02-26 11:20] HoughtonChristopher commented on #347
I have absolutely no idea but I just experienced it.

Maybe not verifying it or signing up with a phone number? I'm not entirely sure.

[2019-02-26 13:37] meijdenmedia opened #348 "Reconsider a new V3 release – Google Sign-in"
Please reconsider the choice of making a stable tag for Laravel LTS 5.5 users.

------------

@driesvints
I know we can use it like that but what i requested it to tag a release as it is stable and official working as per Google SignIn. as because all the LTS 5.5 users are affected I wanted you to tag that as soon as possible

_Originally posted by @msonowal in https://github.com/laravel/socialite

[2019-02-26 15:30] driesvints commented on #348
We've decided to make a one-time exception since there's so many people asking for this.

Just released Socialite  v2.0.22 and v3.3.0 which should include the new updated Google driver and any changes from those branches.

These will be the very last released for Socialite v2 & v3.

[2019-02-26 15:30] #348 closed

[2019-02-26 19:04] lphilps opened #349 "Facebook is removing access to "certain permissions or features on Mar 28, 2019""
We are getting notifications from Facebook that say:

Socialite's FacebookProvider is, by default, requesting the following fields:

`['name', 'email', 'gender', 'verified', 'link'];`

Since gender and link appear in that list, I _think_ that Socialite calls through apps that don't have the special permissions will start to fail on March 28th?

I'll confess I'm not sure, but thought I would raise

[2019-02-27 10:49] driesvints commented on #349
Thanks for reporting. I'll make sure to look into this before the above date.

[2019-03-05 15:21] driesvints commented on #349
Heya. I've reviewed this but it just seems that you'll have to submit your app to App Review again to maintain this. So I don't think it's up to us to fix this.

I do however, wonder why Socialite needs these fields to authenticate. I feel like a lot of providers just try to retrieve too much information.

[2019-03-05 15:21] #349 closed

[2019-03-05 15:34] lphilps commented on #349
Well, that's sort of the point I was trying to make.  The Facebook provider doesn't even use the gender value it fetches, so why bother to ask for it.  I was thinking a default set of fields of:
[code]
would make more sense?  These fields are all available to every app.  If you need gender or link, you'll have to justify that need to Facebook, then you can override the default set of fields with s

[2019-03-05 15:37] driesvints commented on #349
We might want to remove it in a future version but for now let's keep it for the current release to not break people's apps. The date you specified above also seems to be only specific for yourself as I can't find an announcement anywhere with this date.

[2019-03-07 11:17] migcosta commented on #349
@driesvints the "permission" dates are specific to every app. The older the app the sooner it will expire. In our case it will on 6 of april ( https://screencast.com/t/9I1dTgEE )

By requesting the gender and the link fields, without the proper permissions, those fields won't be sent back to the call back url. And that will also brake the people's apps, won't it @driesvints?

I agree with @lphilps

[2019-03-07 13:07] driesvints commented on #349
@migcosta I'm not saying you're wrong, I'm just saying we can't remove those fields on a point release. For apps that do require them they will break when the fields suddenly aren't sent back. At the moment the status is that Socialite requires these fields. We can remove them on the next major release. In that case, send in a PR to the master branch.

[2019-03-08 16:10] alxy opened #351 "No support for Laravel 5.5 and 5.6"
For some reason, socialite has no version that works with Laravel 5.5 or 5.6. Especially 5.5 is really bad, as it is a long term release.

Socialite 3.*:
[code]

Socialite 4.*:
[code]
Is this on purpose?

[2019-03-08 16:14] driesvints commented on #351
Yes, we only support the latest Laravel release for the libraries. LTS only applies to the framework. Please upgrade.

[2019-03-08 16:14] #351 closed

[2019-03-08 23:56] tonz341 opened #352 "Auth code via FB Mobile SDK resulting Invalid Verification Code"
I wonder if i can still use Socialite to authenticate FB code that came from Mobile SDK?
Web SDK works fine just code from Mobile SDK throwing Invalid Verification code.

We are trying to implement Login as FB in Flutter but after via facebook login it will generate code like this

EAANXyXf1v7cBAEgxk9Ox1lsfpoSBxZAgBNfl1GWVbyEZBCJQawOBMCmS4Vz5......

and trying to authenticate via Socialite will th

[2019-03-09 05:47] daftspunk commented on #351
Just fork the library @alxy these are likely superficial differences anyway

[2019-03-10 08:28] ankurk91 commented on #352
[code]

[2019-03-11 11:47] driesvints commented on #352
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://sta

[2019-03-11 11:47] #352 closed

[2019-03-12 01:51] tonz341 commented on #352
hi all sorry for the inconvenience i think this question must be invalid.
Authorized code can only be fetched via facebook sdk on web not on fb android sdk

fb android sdk can only generate user token

so this errors is popping out when we try to authenticate the user tokens from fb which throws this error.

thanks

[2019-03-13 18:38] selvakumar143 commented on #333
Hi when i trying to login Instagram its throw error "Oops, an error occurred."

[2019-03-14 21:58] driesvints commented on #333
@selvakumar143 you'll have to post this to their issue tracker.

[2019-03-16 05:05] TheThai212 opened #353 "After logging in, if I press the back button and select the account again to login, there is an unknown error! how can i fix it?"

[2019-03-18 09:38] driesvints commented on #353
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://sta

[2019-03-18 09:38] #353 closed

[2019-03-29 12:22] martinbean opened #354 "Facebook expiration is not set"
- Socialite Version: 3.2.0
- Laravel Version: 5.7.28
- PHP Version: 7.1.23
- Database Driver & Version: Postgres 10.6

### Description:
It seems Facebook’s changed how it returns access tokens since Socialite was last updated and the expiration date is no longer surfaced (and therefore set by Socialite). It’s also unclear whether the token Socialite returns is a “short-lived” token or a “long-live

[2019-03-29 14:38] driesvints commented on #354
I can't even find the documentation about the original access token endpoint anymore. Can someone link to it for me? I want to see what the response looks like and how it differs in the latest version.

[2019-03-29 16:21] martinbean commented on #354
@driesvints The endpoint itself doesn’t seem to be documented, but it seems to return a JSON object with just two keys:

[code]

[2019-03-29 16:22] driesvints commented on #354
Is this also the case when using v3.0 (which is now set on the provider)?

[2019-03-29 16:23] martinbean commented on #354
@driesvints That’s calling **https://graph.facebook.com/v3.0/oauth/access_token**, yeah.

[2019-03-29 16:26] driesvints commented on #354
Urgh. Well, I'm open to suggestions. I guess an extra call really is the only way? Or do we need to refactor the way this works in general?

[2019-03-29 16:31] martinbean commented on #354
@driesvints I think it’s just Facebook being Facebook to be honest 😄

Yeah, the only way I can see to get the expiration time for a Facebook access token is making this second, debug token request.

I opened this Issue to basically just feel out how open you were to having Socialite make a second HTTP request to get the expiration time. If you’re happy with this, then I’m happy to put together the

[2019-03-29 16:48] driesvints commented on #354
I guess if it's the only way we don't really have another choice? 😄

[2019-03-29 17:41] #347 closed

[2019-03-30 15:49] martinbean commented on #354
@driesvints No problem. Should I go ahead a create a PR for that, then?

[2019-03-30 15:57] driesvints commented on #354
@martinbean yeah feel free!

[2019-03-30 16:00] martinbean commented on #354
@driesvints Cool. I’ll get that done in the next couple of days then 👍

[2019-04-02 04:40] isreehari opened #356 "Breaking changes has released as bug fix version in 2.0.21 & 2.0.22"
- Socialite Version: 2.0.21
- Socialite Version: 2.0.22

### Description:
There is breaking change in GoogleProvider between laravel/socialite:2.0.21 and laravel/socialite:2.0.22 but it released as minor fix

### Steps To Reproduce:

https://github.com/laravel/socialite/compare/v2.0.21...laravel:v2.0.22

https://github.com/laravel/socialite/releases/tag/v2.0.22
[code]

https://github.com/laravel/s

[2019-04-02 12:55] driesvints commented on #356
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-02 12:55] #356 closed

[2019-04-04 06:52] mkuzmych opened #357 "Retrieve original avatar for Google"
- Socialite Version: v3.2.0
- Laravel Version: v5.7.22
- PHP Version: PHP 7.1.6
- Database Driver & Version: mysql

### Description:
Wrong avatar original for Google API:

image['url'] => https://lh5.googleusercontent.com/-S9cRpbIvumo/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfuJ7kOYuvkSMSwjgO2hVEX3wy0qA/s50-mo/photo.jpg
avatar_original => https://lh5.googleusercontent.com/-S9cRpbIvumo/AAAAAAAAAAI/AAAAAAAAAAA

[2019-04-04 11:29] yoeriboven commented on #322
Me too, but with the Slack provider. Lowercase seems to work.

[2019-04-04 13:11] driesvints commented on #357
The current "userinfo" calls returns the basic OpenID connect fields which you can see here: https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

I'm not sure if another claim is supported to retrieve the original avatar. At the moment I'm going to flag this as a feature request rather than a bug. If you can figure it out how to retrieve the original avatar as well from the userin

[2019-04-18 12:58] HCIPL-HCIPL opened #358 "Regarding facebook login issue"
- Socialite Version: 3.1
- Laravel Version: 5.5
- PHP Version: 7.0
- Database Driver & Version: PDO

### Description:

Hello,

I am using socialite 3.1 version using laravel 5.5 where I am successfully logged-in with Facebook into my system but after then it's taking too much time to get back to the system like 25 to 30 second.

What can be fixed for the same? Please let me know.

Thanks,

### Ste

[2019-04-18 13:01] driesvints commented on #358
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-18 13:01] #358 closed

[2019-04-19 12:11] jjvillegas17 opened #359 "Integrate with Reactjs"
How can I make a rest api with the redirectToProvider function because when I call it in my React app, it says cross origin error. Thanks!

[2019-04-19 12:12] driesvints commented on #359
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-04-19 12:12] #359 closed

[2019-04-29 10:16] akilpatel opened #361 "No Message error using g+ login"
When i try logging in using G+ it works perfectly on localhost:: but doesnt work on live testing, it gives the error "no message" at "/vendor/laravel/socialite/src/Two/AbstractProvider.php".
![Screenshot 2019-04-29 at 4 13 33 PM](https://user-images.githubusercontent.com/49442775/56891342-c3430280-6a99-11e9-852b-52c4c3c08a4c.png)

[code]

[2019-04-29 12:26] driesvints commented on #361
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-29 12:26] #361 closed

[2019-04-30 14:36] LunarDevelopment opened #362 "Netlify Providers site is broken?"
The url for providers hosted on netlify is returning not found.

See:
https://socialiteproviders.netlify.com/providers/you-tube.html
https://socialiteproviders.netlify.com

Thanks!

[2019-04-30 14:42] driesvints commented on #362
Sorry we don't maintain that site.

[2019-04-30 14:42] #362 closed

[2019-05-07 07:40] driesvints opened #363 "Change default scope delimiter to space"
I believe a space is the more sensible default as I've not seen too many examples using comma's.

See discussion here as well: https://github.com/laravel/passport/issues/1008

[2019-05-09 10:16] rennokki opened #364 "Facebook no longer supports pre v3.2 apps by default"
Creating new Facebook apps are prior to v3.2 and v3.3 (for now). The latest version in Socialite is v3.0

[2019-05-09 11:10] driesvints commented on #364
Does changing the version [here](https://github.com/laravel/socialite/blob/690c46cb572fb2f8a1a5520ff4b2446406ce5afd/src/Two/FacebookProvider.php#L22) fix it?

[2019-05-09 11:15] rennokki commented on #364
Forgot to mention the problem itself: after a while, it throws ERR_TOO_MANY_REDIRECTS in the browser. It does't even hit Facebook itself on the way, it should have hit the redirect and display Facebook's OAuth consent page.

[2019-05-09 11:21] driesvints commented on #364
I'm not sure what to do here tbh. Appreciating any help with this.

[2019-05-09 11:21] driesvints commented on #364
@rennokki can you also please fill out the issue template?

[2019-05-11 08:23] rennokki commented on #364
I'm late, as always. Idk, but a solution might be setting up the version on demand right within Socialite.

- Socialite Version: 4.1.3
- Laravel Version: 5.8.x
- PHP Version: 7.2
- Database Driver & Version: Facebook

### Description:
At the moment, Facebook no longer allows selecting v3.0 for fresh-new created apps in their Developers portal. The current Socialite Facebook supported Graph version

[2019-05-11 09:56] chrissie1234 opened #365 "Discord authentication"
As a web developer for a gaming community, I would like to use Discord authentication.
Required:
Login using Discord.
Optional:
Check guilds (and roles/permissions in it).

[2019-05-11 09:57] chrissie1234 commented on #365
Found it. Thanks.

[2019-05-11 09:57] #365 closed

[2019-05-17 14:21] KinG-InFeT opened #366 "Socialize v4.1 not install on laravel 5.5"
- Socialite Version: 4.1.2
- Laravel Version: 5.5.*
- PHP Version: 7.3

### Description:
[code]

### Steps To Reproduce:
install socialite on laravel v5.5

[2019-05-17 17:56] driesvints commented on #366
The current socialite release is only available for Laravel 5.7 and above.

[2019-05-17 17:56] #366 closed

[2019-05-20 19:46] KinG-InFeT commented on #366
the v3.x is work for laravel 5.5, from official docs

[2019-05-20 20:04] driesvints commented on #366
v3 isn't supported anymore, sorry.

[2019-05-21 07:53] pihish opened #367 "Updating 2.0 To Support V2 LinkedIn Endpoints"
LinkedIn deprecated their V1 login endpoints at the start of this month.  Only the new V2 endpoints can be used going forward.  I noticed that while the 4.0 branch has been updated to reflect the new V2 endpoints, branches 2.0 and 3.0 are still pointing to the old V1 endpoints.

Is there a way we can make minor updates to version 2.0 so that it points to the V2 URLs?  I am currently working on a p

[2019-05-21 07:55] driesvints commented on #367
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting.

Thanks!

[2019-05-21 07:55] #367 closed

[2019-05-23 00:40] lazyguru commented on #367
Hi @driesvints the support policy says Laravel 5.5 (LTS) is supported for bug fixes until August 2019.  Since 4.0 requires Laravel 5.7 or newer (See release notes: https://github.com/laravel/socialite/releases/tag/v4.0.0), that would mean the 3.x branch is the highest level supported for Laravel 5.5.  What can be done to update the 3.x branch so that Laravel 5.5 is still supported? (If I submit a

[2019-05-23 13:15] driesvints commented on #367
Hey @lazyguru. LTS support is only for the framework itself, not the packages. Please see: https://laravel.com/docs/5.8/releases#support-policy

[2019-05-24 03:18] lazyguru commented on #367
Fair enough. I've solved it for my use-case by following the "custom driver" instructions and just copying the LinkedIn driver from the 4.x branch into my codebase

[2019-05-24 07:34] pihish commented on #367
@lazyguru Can you post a link to the "custom driver" guide you followed?

[2019-05-24 16:23] lazyguru commented on #367
I followed this, but only step 4 since I was just reusing the existing driver but with a different namespace: https://medium.com/laravel-news/adding-auth-providers-to-laravel-socialite-ca0335929e42

[2019-05-31 11:23] olivernybroe opened #368 "LinkedIn integration does not support scopes"
- Socialite Version: 4.1
- Laravel Version: 5.8
- PHP Version: 7.1

### Description:
When using linkedIn with scopes, the scope is requested, however the data is not getting fetched afterwards.
When I for example have the scope `r_basicprofile`, I should be able to get the `vanityName`, however this data is not getting fetched.

Looking into the provider, we have a bunch of hardcoded properties, t

[2019-05-31 12:07] driesvints commented on #368
The problem with the LinkedIn provider is that we specifically need to give it the projection with the fields we need and there isn't an api in Socialite to pass along the requested fields atm. Since Socialite is an abstraction for multiple providers and LinkedIn is the only one who needs this it's a bit hard to build this in. I'm not so sure that we should make changes to provide this feature for

[2019-05-31 13:06] olivernybroe commented on #368
@driesvints what about using the wildcard for field selection with LinkedIn?
You should be able to do `v2/me?projection=(*)`.

[2019-05-31 13:11] driesvints commented on #368
That would unnecessarily retrieve data for anyone who doesn't needs it.

[2019-06-03 08:52] pihish commented on #367
@lazyguru Thanks.  Did you run into a namespace issue when trying to boot up the new service provider?  Specifically, the following in the guide:

`return $socialite->buildProvider(SpotifyProvider::class, $config);`

I get an _Class 'Laravel\Socialite\Two\LinkedInV2ServiceProvider' not found_ error.  The name of class and file is _LinkedInV2ServiceProvider_ and I have it  under the _Laravel\Social

[2019-06-03 15:59] lazyguru commented on #367
Make sure you have a “namespace” line at the top of the file. I think that guide is missing it. Also, I put mine in my install (not in its own package) so the name space ended up being something like “\App\Providers” (don’t have the code in front of me to check exactly)

[2019-06-09 06:51] kevincobain2000 opened #369 "Sign in with apple id"
Since the announcement of sign in with apple id. It'd be good to have it as a socialite provider for sign in with apple.

https://developer.apple.com/sign-in-with-apple/

[2019-06-10 10:12] Kofacts opened #370 "Socialite v3.3 not using Linkedin V3 api url"
- Socialite Version: 3.3
- Laravel Version: 5.6
- PHP Version: 7.1
- Database Driver & Version:

### Description:

Version 3.3 doesn't support the most recent Linkedin api web service. It still uses the v1 which throws the "Not enough permissions error"

### Steps To Reproduce:
Checkout V3.3 and below..

[2019-06-13 08:10] olivernybroe commented on #370
LinkedIn does not have a version 3 api.
The reason for socialite not supporting linkedIn API v2 before socialite v4 is because changing that is a major change and most of the users need to adapt their code to LinkedIn V2 api.

[2019-06-13 08:13] olivernybroe commented on #369
So you should prob. create the issue in that package instead https://github.com/SocialiteProviders/Providers or just create your own package with it.

[2019-06-13 09:41] mrpiagg commented on #364
Temporary fix is to change provider number to 3.3 in FacebookProvider
.. protected $version = 'v3.3';

And change function getCodeFields in AbstractProvider to (FB is not accepting response_type):

protected function getCodeFields($state = null)
    {
        if (strpos($this->redirectUrl, 'facebook') !== false) {
            $fields = [
                'client_id' => $this->clientId,

[2019-06-13 11:52] driesvints commented on #370
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-06-13 11:52] #370 closed

[2019-06-13 11:54] driesvints commented on #369
@olivernybroe I realize that this is in the readme but I suspect that this will be such a widely adopted adapter so we could maybe consider adding it in.

Might need https://developer.apple.com/documentation/signinwithapplejs ?

[2019-06-13 11:56] driesvints commented on #364
@mrpiagg sounds like a good PR to fix this?

@rennokki does the solution from @mrpiagg solve your problem?

[2019-06-13 12:16] taylorotwell commented on #369
Feel free to PR.

[2019-06-13 13:25] m1guelpf commented on #369
[This PR to SocialiteProviders/Providers](https://github.com/SocialiteProviders/Providers/pull/315) might be a good starting point.

[2019-06-17 21:51] strausmann opened #372 "Add WHMCS Provider"
Please add the WHMCS OpenID Server as new Provider for Sociallite.

https://docs.whmcs.com/OpenID_Connect_Developer_Guide

[2019-06-18 08:44] nosun commented on #364
My laravel version is 5.2, The Graph API version is 2.8, I got the same error.

After facebook auth the request, can not redirect to source site, display the error like

[code]

[2019-06-19 10:51] satyakresna opened #373 "How can I get value of my own optional parameters from Github Socialite by using `with()` method?"
Hi there, I just try to implement **optional parameters** feature based on Laravel Socialite using Github Provider. Is it supported in Socialite? According to the https://laravel.com/docs/5.8/socialite#optional-parameters documentation tell that
``
A number of OAuth providers support optional parameters in the redirect request. To include any optional parameters in the request, call the `with` met

[2019-06-19 22:08] qWici commented on #373
@satyakresna thats mean - you can add optional parameters for the request to social network. This feature was added in 5880e68 commit and later method was renamed to `with()`

[2019-06-19 22:13] qWici commented on #372
@strausmann I believe that authorization using this provider is very narrowly specialized and will be rarely used

[2019-06-19 23:42] satyakresna commented on #373
@qWici, I have implemented optional parameters by using `with()` method when Socialite direct to provider OAuth based on this code
[code]

But, I don't get the value of `event_slug` when Socialite callback in Github and only get the value of `state` and `code`

[code]

That's why I'm curious is it possible I can add my own optional parameters like `event_slug` and then get the value of `event_slug

[2019-06-20 08:25] qWici commented on #373
@satykresna with this method you add additional parameters for the authorization request. If social networks return your parameters - you was get them.

[2019-06-20 08:36] qWici commented on #373
@satyakresna  with this method you add additional parameters ONLY for the authorization request. If social networks return your parameters - you was get them.

[2019-06-20 14:50] smokezp commented on #368
Hi, I also use LinkedIn. I'm trying to get all the user data.

I use folowing code:

`    public function redirect($service)
    {
        return Socialite::driver($service)->scopes(['r_fullprofile'])->redirect();
    }

    public function callback($service)
    {

        try {
            $user = Socialite::with($service)->user();
        } catch (\Throwable $e) {
            dd($e->getMessage(

[2019-06-23 11:42] Olegkravec opened #374 "InvalidStateException on auth system callback"
- Socialite Version: 4.1.3
- Laravel Version: 5.8(newest)
- PHP Version: 7.3
- Database Driver & Version:

### Description:
InvalidStateException on auth system callback

Example of received data:

state | "z569CkXJTtn8CByHX7yV8hSvIKMfLhqIntaoTQyR5"
code | "4/cQEUBNVWTdEWc9fudt58iwlsU0BIOSNVkO7IVIbKpeF8IHWYZL3SG9YKn0FcWmVvGjK24xALUAextXhj3I53sFS8"
scope | "email profile openid https://www.googleap

[2019-06-23 11:44] Olegkravec commented on #374
- Socialite Version: 4.1.3
- Laravel Version: 5.8(newest)
- PHP Version: 7.3
- Database Driver & Version:

### Description:
InvalidStateException on auth system callback

### Steps To Reproduce:
Updated laravel/socialite

[2019-06-23 11:46] Olegkravec commented on #374
Example of received data:

state | "z569CkXJTtn8CByHX7yV8hSvIKMfLhqIntaoTQyR5"
code | "4/cQEUBNVWTdEWc9fudt58iwlsU0BIOSNVkO7IVIbKpeF8IHWYZL3SG9YKn0FcWmVvGjK24xALUAextXhj3I53sFS8"
scope | "email profile openid https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
authuser | "0"
session_state | "88b3ae9qa564xbbab04c14bb13a77125897cd3e713..601d"
prompt | "co

[2019-06-23 22:23] #374 closed

[2019-06-24 03:45] nosun opened #375 "please update facebook version to 3.3 at branch 2.0"
Facebook Graph API v2.9  will reach the end of its 2-year lifetime on 22 July, 2019.

Need to upgrade the version number of the api。

[2019-06-24 08:47] driesvints commented on #372
Please see the readme. We're not accepting any more drivers. Try the socialiteproviders repo.

[2019-06-24 08:47] #372 closed

[2019-06-24 08:47] driesvints commented on #373
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-06-24 08:47] #373 closed

[2019-06-24 08:48] driesvints commented on #375
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-06-24 08:48] #375 closed

[2019-06-24 09:32] satyakresna commented on #373
Noted, thanks @driesvints

[2019-06-24 13:55] theodh commented on #369
The email address will be available soon, see issue:
https://forums.developer.apple.com/thread/118209

We need to wait after the update from Apple, but we could implement this @jbrooksuk #371 (comment)
with a dummy param email_id and change the variable name after the update, so we could be live quickly.

Shall I make a PR from your repo @pxgamer https://github.com/pxgamer/socialite/tree/feature/a

[2019-06-25 03:56] 4unkur commented on #368
@smokezp Try to upgrade your laravel-socialite to 4.1 versions. See https://github.com/laravel/socialite/issues/309

[2019-06-25 05:57] rejauldu commented on #294
When I removed profile I don't see error but the name and nickname parameter becomes null.

[2019-06-25 13:38] theodh commented on #369
The snippet has been implemented see https://github.com/theodh/socialite/commit/bc70f9a06e307bb7dfa0a52987138b942fe0c469
 At this moment the scope is only name. The state at this moment: a unique verifier user will be created. If we add email in the scope it will throw an exception until Apple has added this param. If email is a requirement for socialite we should wait after the update, otherwise

[2019-06-25 13:58] pxgamer commented on #369
I think it's probably worth waiting until the update by Apple. It might be worth removing commit 248c0ce5f5e742a6aa9dff5922da1595037276ae though as this is IDE-specific and probably should be in your global ignore (correct me if I'm wrong though)?

Also, can the abstract [`getUserByToken()`](https://github.com/laravel/socialite/blob/690c46cb572fb2f8a1a5520ff4b2446406ce5afd/src/Two/AbstractProvider

[2019-06-25 15:07] theodh commented on #369
Removed the .idea and reversed to scope name+email

Good point! The override on the user method in the AppleProvider could cause maintenance issues. Because the AppleProvider is an exception on this method we could introduce a smaller override and we keep the abstract.  I was thinking about a strategy pattern, but that is an overkill. We could also introduce an extra method. Then we don't have to

[2019-06-25 20:03] theodh commented on #369
The apple clientsecret key has an expiration (max 6 months). All users should maintain or use a script like https://github.com/aaronpk/sign-in-with-apple-example/blob/master/client-secret.rb This is needed to maintain the laravel services.apple.clientsecret config value. We'll get security issues if we create this automatically (but it is possible I saw some php composer libraries to create this k

[2019-06-25 23:17] satyakresna commented on #373
Hi, I found the solution. According to [Github OAuth Docs](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#redirect-urls), it tells that I can modify Redirect URL by add subdirectory after callback URL. Oh, I also found a good answer in SO related about [this topic](https://stackoverflow.com/questions/35942009/github-oauth-multiple-authorization-callback-url)

Example

[2019-07-02 06:53] Krato commented on #309
You can create a custom Provider for Socialite and use @driesvints code. Works fine. Thanks mate!

[2019-07-02 13:21] tomsisk commented on #368
Microsoft makes this difficult to find (and actually quite confusing because `r_basicprofile` was the default in v1), but are you sure you have access to `r_basicprofile`? v2 of their API does not give this to you by default, you have to use `r_liteprofile`.

https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api#field-selections

You can see your current permissions unde

[2019-07-03 14:21] jahstation opened #378 "moving models inside App\Model stop socialite to workin"
as I wrote on the title, if u move model into a folder: App\Models, social lite stop to working and an error is raised:

/vendor/composer/../../app/SocialGoogleAccount.php): failed to open stream: No such file or directory

how can I solve this? the error comes from the classLoader into vendor

[2019-07-03 15:10] #378 closed

[2019-07-04 14:52] theodh commented on #369
Status update: from https://forums.developer.apple.com/thread/118209

Current issues:
1) The authorize request from apple must be Http Post back (param response_mode=form_post) to get the form variable. The laravel app should handle this post instead of a get. https://github.com/theodh/socialite/commit/1c38c90f142d19aa5b5261d4dab15d6c3f295f18
2) AppleId will only sent this once from the first auth

[2019-07-04 14:57] driesvints commented on #369
@theodh yeah we're not gonna implement anything until the final release.

[2019-07-06 15:50] codemastersolucoes opened #379 "Coinbase not working in api v1"
- Socialite Version: 4.1.3
- Laravel Version: 5.8.18
- PHP Version: 7.3.6
- Database Driver & Version: mariaDB:10.4.5

### Description:
Provider Coinbase not working in api v1, when provider call the api, receive this error:

Client error: `GET https://api.coinbase.com/v1/users/self` resulted in a `404 Not Found` response: {"errors":[{"id":"not_found","message":"Not found"}]}

Changing the current

[2019-07-06 18:01] driesvints commented on #379
We don't support coinbase in Socialite.

[2019-07-06 18:01] #379 closed

[2019-07-06 18:04] codemastersolucoes commented on #379
Ok, Thanks

[2019-07-11 17:50] brandonburkett commented on #364
Is it possible to let the package users specific the facebook graph api version number? I see it is hard coded to v3.0, yet my newly created facebook login app is 3.3 (and unable to move it down to 3.0).

Any update on this topic?

[2019-07-12 11:31] driesvints commented on #364
@brandonburkett it was mentioned above by @rennokki that this doesn't work: https://github.com/laravel/socialite/issues/364#issuecomment-490861661

Sadly I haven't found time to look into this yet and I also don't have a facebook account so appreciating a PR if anyone is up for it.

[2019-07-12 14:14] brandonburkett commented on #364
@driesvints Got it.  For what it is worth, I did the following yesterday and everything worked on my end... BUT I am only using the turn-key Facebook login with no additional requested data.
- created a new FB login app at version 3.3
- used socialite (fb API version 3)
- and FB login worked fine (I did not hit any of the redirect issues)

I know this use case does not cover everything, but FB log

[2019-07-15 16:05] vinceinfluo opened #380 "[linkedIn] vanityName is missing in the linkedIn integration"
This is missing in the current integration, would be nice to see this added.

[2019-07-16 10:03] driesvints commented on #380
I remember that when I refactored the linkedin integration that I needed to explicitly use the `r_liteprofile` scope instead of the `r_basicprofile` scope but I can't remember the reason why. The vanity name is included in the `r_basicprofile` but I'm unsure what the consequences would be of using that instead. I think at the worst it'll break people's apps because the integration will suddenly re

[2019-07-16 10:03] #380 closed

[2019-07-17 11:48] theodh commented on #369
@driesvints

Good point, other view, we should test this in some environments. I'm already having this provider in the production environment. I'm also monitoring the log. My suggestion a beta-branch in your repo, or that other developers could use a VCS to mine.

Laravel app: composer.json

Change require:
[code]
Add
[code]

I need some testers :guardsman: :trumpet:

[2019-07-17 12:41] pxgamer commented on #369
@theodh, which branch are you using? `apple-issue-369` or `dev-apple-issue-369`?

[2019-07-17 12:44] theodh commented on #369
@pxgamer apple-issue-369

[2019-07-25 15:32] lakerobin opened #382 "Driver parameters can't be overridden during token validation phase"
- Socialite Version: 4.1.3
- Laravel Version: 5.8.29
- PHP Version: 7.3.7
- Database Driver & Version:

### Description:
Overriding driver parameters using `with` method does not work during token verification phase.

### Steps To Reproduce:
I am not setting redirect_uri in the config, as I plan to use different uri's for different type of users.

`//Redirecting to google login - Works`
Socialite:

[2019-07-30 08:14] driesvints commented on #382
Heya @lakerobin. Can you maybe show exactly which could would need to be update for this? You're always free to send in a PR for this if you want. Make sure to add a test which covers the scenario.

[2019-08-01 00:36] mycarrysun commented on #382
I need this too! Staff members have a different URL for their login screen so I am using 2 different redirect uri bases

[2019-08-01 06:57] jeremykenedy commented on #309
@Krato What does that provider look like and how did you implement it?

Did you call it in EventServiceProvider.php?

[2019-08-01 08:37] Krato commented on #309
@jeremykenedy I use a custom social provider and a custom controller. Check this guide: https://www.laragle.com/2017/03/step-by-step-laravel-social-login.html

And use this class using your own namespace:

[code]

And extend socialite providers in your AppServiceProvider or in your own provider to override LinkedIn provider

[code]

Regards!

[2019-08-06 11:55] Adron55 opened #383 "Facebook no longer supports http"
I think it is good to mention that facebook no longer support http and users must use https in **FACEBOOK_URL** of environment file(.env). Otherwise , error keep going to showing at callback

[2019-08-06 11:59] driesvints commented on #383
I think it's a given that you should try to use https always. If you really feel this should be noted feel free to attempt a pr to the docs. Thanks.

[2019-08-06 11:59] #383 closed

[2019-08-06 12:04] Adron55 commented on #383
I mean in the laravel doc written as http it can change i think and it is hard for who working first time with Socialite

[2019-08-06 12:06] driesvints commented on #383
@Adron55 gotcha. Try a pr to see if it works. Otherwise I can help out.

[2019-08-06 12:16] Adron55 commented on #383
What do u mean with try a pr ?

[2019-08-06 12:17] driesvints commented on #383
@Adron55 try a pull request to the documentation: https://github.com/laravel/docs

[2019-08-06 19:49] Adron55 commented on #383
Thanks . I tried adding little note in the documentation .

[2019-08-06 20:58] suchal commented on #364
@brandonburkett  can you please explain "created a new fb login app at version 3.3" what do you mean by this? I can fix it and send a PR if I understand what you mean. And the community would really appreciate it if you could create a PR yourself.

[2019-08-07 10:13] connecteev commented on #368
@olivernybroe does linkedin login work for you, though? It seems like it does but I don't get the user's email address back.
But yes, +1 on adding Linkedin support for scopes as well.

[2019-08-07 10:52] olivernybroe commented on #368
@connecteev Works fine for me.

[2019-08-07 13:50] brandonburkett commented on #364
@suchal Hi!  Happy to explain.  In short, I was at 2.X and received an end of life notification from facebook on our API version, so I looked into upgraded to 3.3.  To do this:

- I created a new facebook app with API version 3.3 (login only with no additional requested data)
- Tested the login app by updating our facebook client id and secret in staging
- Socialite worked fine, even though the FB

[2019-08-07 16:00] connecteev commented on #368
@olivernybroe that's interesting...I was connecting Laravel Socialite over APIs, but I figured out the problem and the email address comes through now.

[2019-08-07 16:00] connecteev commented on #368
+1 on the original issue so we can get the vanityName back from Linkedin

[2019-08-08 01:43] connecteev opened #384 "Retrieving the nickname by calling $user->getNickname() does not work"
- Socialite Version: #.#.# "laravel/socialite": "^4.0",
- Laravel Version: #.#.# 5.8
- PHP Version: #.#.# 7.2
- Database Driver & Version: MySQL 8.0

### Description:
Attempting to retrieve the nickname (username) in the oAuth callback does not work.

According to the documentation:
https://laravel.com/docs/5.8/socialite#retrieving-user-details
All of these work fine if invoked in the callback:
[c

[2019-08-08 13:28] driesvints commented on #384
I don't think there is a nickname anymore for Google since they deprecated their Google+ api.

Linkedin also doesn't provides a nickname with their `r_liteprofile` scope. For the new Linkedin API we had to downgrade the `r_basicprofile` scope to the `r_liteprofile` scope. See the reasoning here: https://github.com/laravel/socialite/issues/309

It seems this is a sort of duplicate of https://github

[2019-08-08 13:28] #384 closed

[2019-08-08 15:16] connecteev commented on #384
Thanks @driesvints for the clarification. Yes, I've seen #368 but since that's focused on just Linkedin, thought this was unique...but I guess not!

As an aside, do you know of a repo with a working example of socialite that makes use of detailed scopes (r_basicprofile and above instead of r_liteprofile) for Google, Linkedin, Twitter and Facebook? Trying to retrieve more than just the basic info,

[2019-08-08 16:09] driesvints commented on #384
@connecteev normally the scopes feature of Socialite allows for this but as the linked issue says this doesn't works atm for the LinkedIn provider: https://laravel.com/docs/5.8/socialite#access-scopes

[2019-08-08 17:17] connecteev commented on #384
@driesvints thanks, I'll give scopes another go....was just hoping for someplace where it had been done (nicely) before...you know, lazy programming?! :)

[2019-08-09 22:11] regiszanandrea opened #385 "Facebook: This authorization code has been used"
- Socialite Version: 4.1.0
- Laravel Version: 5.8.*
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:
I got sometimes this error in production:
```POST https://graph.facebook.com/v3.0/oauth/access_token` resulted in a `400 Bad Request` response: {"error":{"message":"This authorization code has been used.","type":"OAuthException","code":100,...}```

### Steps To Reproduce:

[2019-08-09 22:16] regiszanandrea commented on #385
Stacktrace:

[code]

[2019-08-12 09:25] driesvints commented on #385
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-12 09:25] #385 closed

[2019-08-19 06:07] yakatz opened #388 "Use route for redirect URL"
I have general routes to allow easily adding Socialite providers:
[code]

Because config is loaded before routes, it isn't possible to set the `redirect` option in `services.php` using something like `route('socialite.callback', ['provider' => 'google']),`.

My proposal is to allow setting a route name for Socialite and use that to create a default `redirect` if one isn't specified.

Something lik

[2019-08-19 09:29] driesvints commented on #388
So this is basically an easier way instead of setting up the controller for routing? https://laravel.com/docs/5.8/socialite#routing

[2019-08-19 13:31] yakatz commented on #388
No, this is substantially different. Right now you need to set the callback url in `serices.php` individually for each provider and there is no way to set it in the controller. Since you need to have a route for the callback anyway, this change would allow you to not need to specify the callback in the configuration.

[2019-08-19 13:44] driesvints commented on #388
Feel free to send in a PR when you have some time.

[2019-08-20 14:08] HoangQuan commented on #293
I got same problem when I try to login by Facebook on mobile browser.
it's worked fine on PC and on mobile too when I choose chrome as default browser

![image](https://user-images.githubusercontent.com/3013122/63354354-81aece00-c38e-11e9-841d-87431044b9c2.png)
any help? plz
Thanks

[2019-08-20 15:47] HoangQuan commented on #293
OMG. finally, I have fixed this happen.

This happen because open facebook app to get response from Facebook API make we lost some cookie. it's become stateless.
Then I just use the option that `socialite` are already made to avoid `stateless` request.
[code]
It's worked to me.

[2019-08-21 09:37] minhhieu08 commented on #293
Found it on https://laravel.com/docs/5.8/socialite#stateless-authentication. Anyway thank @HoangQuan 😎😎

[2019-08-23 05:23] ihtisham467 commented on #382
Hi @lakerobin Can you provide me the code.

[2019-08-23 14:57] vk011 opened #389 "Google login - InvalidStateException"
- Socialite Version: "laravel/socialite": "^4.1",
- Laravel Version: 5.8
- PHP Version: 7. 2.18
- Database Driver & Version:

### Description:
Specifically for Google (Facebook works) I get an `InvalidStateException` .

However if I comment out ``profile` under `/vendor/laravel/socialite/src/Two/GoogleProvider.php`

so it looks like:

[code]

Then login works, however then I don't have access to `

[2019-08-26 06:19] webexpert4rv commented on #309
![image](https://user-images.githubusercontent.com/7485855/63669337-5f3a0c00-c7f7-11e9-9655-0b2c686175d1.png) @Krato I follow the same but getting above error. Can you please help me for the same. I'm using laravel 5.1

[2019-09-05 12:37] rennokki commented on #364
I guess that my current case I was really isolated and under unknown circumstances. I guess there was some misconfiguration.

[2019-09-05 12:37] #364 closed

[2019-09-05 12:50] brandonburkett commented on #364
@rennokki I still think it is an issue that the API version is pinned / hard coded in the project.  It should probably be bumped to 3.3.

[2019-09-12 11:46] seydmeti opened #392 "get error when using laravel socialite facebook login"
Hi!
i'm trying to login facebook with socialite but have this error:

`cURL error 35: error:140773E8:SSL routines:SSL23_GET_SERVER_HELLO:reason(1000) (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)`

tnx for helping

[2019-09-12 11:48] #392 closed, assigned to nobody

[2019-09-13 20:11] RDZU commented on #309
Hi I solved, I changed the file LinkedInProvider

/*  vendor/laravel/socialite/src/two/LinkedInProvider */

<?php
namespace Laravel\Socialite\Two;

use Illuminate\Support\Arr;

class LinkedInProvider extends AbstractProvider implements ProviderInterface
{
    /**
     * The scopes being requested.
     *
     * @var array
     */
    protected $scopes = ['r_liteprofile', 'r_emailaddress'];

/**
 *

[2019-09-13 20:15] RDZU commented on #309
Hi I had the same problem on Socialite 3.3

I solved it, I changed the file LinkedInProvider.php with the source code below

/*  vendor/laravel/socialite/src/two/LinkedInProvider */
<?php

namespace Laravel\Socialite\Two;

use Illuminate\Support\Arr;

class LinkedInProvider extends AbstractProvider implements ProviderInterface
{
    /**
     * The scopes being requested.
     *
     * @var array

[2019-09-13 20:16] RDZU commented on #309
Hi I had the same problem on Socialite 3.3

I solved it, I changed the file LinkedInProvider.php with the source code below

/* vendor/laravel/socialite/src/two/LinkedInProvider */

`<?php

namespace Laravel\Socialite\Two;

use Illuminate\Support\Arr;

class LinkedInProvider extends AbstractProvider implements ProviderInterface
{
    /**
     * The scopes being requested.
     *
     * @var array

[2019-09-16 09:36] theodh commented on #369
Status update: apple revoked the feature that it is possible to handle a GET-request with the auth-token. In my production environment I created a custom subroutine without laravel/socialite. We need to handle (security etc) that a post request from host appleid.apple.com is allowed in the laravel framework.

A lot of developers asked to apple to get this feature back...

[2019-09-25 04:25] xyj2156 opened #393 "使用 hhxsv5/laravel-s 加速 laravel。 Accelerate Laravel with hhxsv5/laravel-s"
- Socialite Version: 4.2.0
- Laravel Version: 6.0.0
- PHP Version: 7.3.9
- Database Driver & Version:
mysql 5.7
### Description:
我前端使用的是 hhxsv5/laravel-s 包 加速laravel项目，第三方登录报 Laravel\Socialite\Two\InvalidStateException 我调试的时候发现 `$this -> request ->   input('state')` 中获取不到 `state`。 使用`request()` 可以获取到参数

https://github.com/laravel/socialite/blob/f509d06e1e7323997b804c5152874f8aad4508e9/src/Two/Abst

[2019-09-25 04:59] #393 closed

[2019-09-26 09:41] ketchums opened #394 "Call to undefined method Laravel\Lumen\Application::booted()"
- Socialite Version: #.#.#
- Lumen Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: MySQL

### Description:
Call to undefined method Laravel\Lumen\Application::booted()

### Steps To Reproduce:
Just install and register the service provider, like so
`$app->register(\SocialiteProviders\Manager\ServiceProvider::class);`

[2019-09-26 09:41] #394 closed

[2019-09-30 16:32] driesvints commented on #382
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue and we'll re-open this issue.

[2019-09-30 16:32] #382 closed

[2019-10-01 09:25] IrimieAndreiREEA commented on #369
Hello people, any updates on this?

[2019-10-01 09:27] alinmiron commented on #369
Hello people, any updates on this issue?

[2019-10-04 00:29] karlshea commented on #369
What needs to happen or where can I help to move this forward?

[2019-10-04 07:54] alinmiron commented on #369
I managed to use this tutorial to do a quick and dirty test:
https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple. I will try to use this library https://github.com/kelvinmo/simplejwt instead of the ruby script.

Since this documentation is almost useless: https://developer.apple.com/documentation/signinwithapplerestapi,

I dug into these also:
https://medium.com/techulus

[2019-10-04 11:09] driesvints commented on #369
I also saw this passing by on Twitter, not sure if it's relevant: https://openid.net/2019/09/30/apple-successfully-implements-openid-connect-with-sign-in-with-apple/

[2019-10-05 12:09] theodh commented on #369
Indeed @alinmiron @driesvints, also made custom routines to handle the social, this is an odd duck...

It is not the socialite code implementation (see draft https://github.com/laravel/socialite/pull/396) but the side-effects in the laravel framework:

We could implement the draft PR, but we should make a documentation about the side-effects in the framework. We could make a note in the documentat

[2019-10-06 10:15] theodh commented on #369
Made an [example](https://github.com/theodh/example-socialite-apple) of how the socialite of apple can be used. Also tested the PR and it works! :)

[2019-10-07 13:35] alinmiron commented on #369
I've taken a quick look over the example provided, seems ok.
I didn't had time to test, I will try to make some time for testing this.
Regarding the obtaining of the client_secret, we could implement a method that reads the Apple private key and generate the client_secret without  ruby (and maybe without cronjob).
here's what I did in my code (this is something custom, not socialite related):
[cod

[2019-10-08 07:10] alinmiron commented on #369
Hi @theodh. I was able to test your example. Everything looks good!

Since iOS 13 was released on 19th of September this should be merged, I think Apple will push the "Sign in with Apple" as a privacy-focused alternative to the existing 3rd party sign in methods (google, facebook ...) .

IMHO the only big issue will be the e-mail sending if the users login with anonymous e-mail address, but this i

[2019-10-08 07:15] theodh commented on #369
Hi @alinmiron thank you for testing the example! Also put your reference of your php client secret solution in the example. Indeed now iOS 13 has been released, this issue has been resolved.

[2019-10-09 15:40] theodh commented on #357
@uapixart a lot of fields are now deprecated. Also didn't find this in the [scope api](https://developers.google.com/identity/protocols/googlescopes).

Extra feature's for resizing in the picture url:
 https://developers.google.com/people/image-sizing

Example original:
![](https://lh3.googleusercontent.com/a-/AAuE7mBtOEJdcqULrU6YDspwsKjbN0-_cIvogg64xTkvsQ)
https://lh3.googleusercontent.com/a-/AAu

[2019-10-09 16:14] theodh commented on #389
@vk011 couldn't reproduce this with my environment:
PHP: 7.2.20
Laravel: v5.8.35
Socialite: 4.1.4

Scope profile is working.

Perhaps you used an old token, I have found this [forum post](https://stackoverflow.com/questions/20555351/google-oauth2-re-authorization-is-missing-permissions-on-the-consent-page)

[2019-10-09 20:27] vk011 commented on #389
Hi,

I don't believe I am using an older token as this happens whenever I check and has been happening from the very beginning, though I do not really know how I would check which token is being used (whether old or not).

If I add `stateless()` in `handleProviderCallback` like so:
`$user = Socialite::driver($provider)->stateless()->user();`

then I get the following error, does that maybe tell yo

[2019-10-10 07:44] theodh commented on #389
Hi @vk011

Tried again, couldn't reproduce it.

For your handleProviderCallback you should get the following request back, before you'r post the token:
[code]

Is there a param code in here, first line of your handleProviderCallback:
[code]

[2019-10-10 07:50] npalbrecht opened #399 "Auth properties not kept after login & redirection"
- Socialite Version: 4.2
- Laravel Version: 6.0
- PHP Version: 7.3.1
- Database Driver & Version: MongoDB (via jenssegers plugin) - MDB Version : 4.2.0

### Description:
After a successful Facebook Login, I'm manually authenticating the user and I want to redirect to __/home__ from the given __HomeController__. But I'am redirected to the login form because it never go trough the Auth middleware (a

[2019-10-10 13:27] driesvints commented on #389
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-10-10 13:28] driesvints commented on #399
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-10-10 13:28] #399 closed

[2019-10-10 13:48] driesvints commented on #369
Looks like Taylor decided he doesn't wants to take on the maintenance burden after all which is understandable. Feel free to pr this to SocialiteProviders.

[2019-10-10 13:48] #369 closed

[2019-10-11 22:59] mmjjb commented on #389
@driesvints I have the same issue. I just did an fresh installation of Socialite and ran straight into `InvalidStateException`; if I add `stateless()` I receive `400 Bad Request` on `POST https://www.googleapis.com/oauth2/v4/token`

[2019-10-12 05:54] vk011 commented on #389
@mmjjb And if you comment out `profile` it works right?

[2019-10-12 20:57] vk011 commented on #389
@theodh It does even though it says it doesn't, but anyway that's when using `stateless()` which shouldn't be used in this case anyway, anyhow this is the query string of the failed login attempt (without using stateless)

https://mysite.com/login/google/callback?
state=tgrqoFXksk8j32dzIKe2gzLh5V5Dcfvrwo0hYP7F&code=4%2FsAH8v9lPjiBHM0RmsvZbE398P8jVEaqEl5HrOY8mAtQC2rKbbjyWPtA2rt1FRtAuRbm2L6en5_OF0Ww

[2019-10-13 23:56] mikebronner commented on #369
For anyone looking for this functionality, I have created a socialite package for this, which extended functionality specific for SIWA: https://github.com/GeneaLabs/laravel-sign-in-with-apple. Hope this is useful.

[2019-10-18 15:50] jomarierafa commented on #389
it also a problem on me on facebook login, i also add stateless and it produce new error
POST https://graph.facebook.com/v3.0/oauth/access_token` resulted in a `400 Bad Request` response: {"error":{"message":"Missing authorization code"

[2019-10-20 19:06] connecteev commented on #368
ANy update on this?

[2019-10-20 19:25] connecteev opened #400 "Get username (nickname) and other extended profile data back from Linkedin using Laravel Socialite"
- Socialite Version: "^4.0"
- Laravel Version: 5.8 / 6.0
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.8 / 8.0

How can I request extended data to be returned back from Linkedin? I am interested in the Linkedin profile data that includes:
- Username
- Location
- Current TItle
- Current Company etc

I'm using the latest version of [Laravel Socialite](https://laravel.com/docs/6.x/socialite

[2019-10-20 19:31] connecteev opened #401 "Make getAuthUrl() public so first-party client can retrieve authorization URL over API"
- Socialite Version: "^4.0"
- Laravel Version: 5.8 / 6.0
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.8 / 8.0

I am trying to implement first-party social login over APIs using Laravel Socialite
// This is the end-to-end flow we're trying to get right:
1. [User] Clicks login
2. [Frontend] makes an Axios / XHR call to backend to get AuthorizationURL
3. [Frontend] forwards to provider's a

[2019-10-28 10:32] driesvints commented on #368
@connecteev everyone's free to send in a pr to help solve this problem.

[2019-10-28 10:33] driesvints commented on #400
Gonna close this in favor of the issue linked above.

[2019-10-28 10:33] #400 closed

[2019-10-28 10:38] driesvints commented on #401
Socialite isn't really meant to work like this in the front-end. It's in the first place a back-end implementation. If you need this, consider authenticating through API calls.

[2019-10-28 10:38] #401 closed

[2019-10-28 12:42] Calinou opened #402 "GitLab provider requests all scopes by default, which can be too permissive"
- Socialite Version: 4.2.0
- Laravel Version: 6.4.0
- PHP Version: 7.3.10
- Database Driver & Version: MariaDB 10.3.17

### Description:

The GitLab provider requests all scopes by default, which grants very broad permissions if the application was created with the default settings. In contrast, the GitHub provider only requests the minimum required to authenticate the user (`user:email`).

To pre

[2019-10-28 12:56] driesvints commented on #402
Will all fields for the `mapUserToObject` method be returned for this scope? Can you link to some documentation?

This at the least would have to go to master.

[2019-10-28 13:09] Calinou commented on #402
Reading the [GitlabProvider's `mapUserToObject` function](https://github.com/laravel/socialite/blob/ecc3ccfdcbbcee9e19468539985f0d0fddd4dbde/src/Two/GitlabProvider.php#L40-L49), it seems I get all the required fields (tested by dumping the user after getting them from the provider):

[code]

[2019-10-28 13:25] driesvints commented on #402
I think changing the default is okay. People can overwrite it with scopes. Feel free to send a PR to master.

[2019-10-28 16:53] connecteev commented on #401
@driesvints that's exactly what I am trying to do here. Without this API, it's impossible.

[2019-10-28 16:54] connecteev commented on #400
@driesvints #384 has already been closed, leaving no open issues..so this is also going to be forgotten.

[2019-10-29 10:07] driesvints commented on #400
I meant https://github.com/laravel/socialite/issues/368

[2019-10-29 10:17] driesvints commented on #401
@connecteev I meant directly without Socialite.

[2019-11-05 03:34] willwinberg commented on #364
I'm so confused. How do you even get the option to use the v3.3 api. When I make an app in the facebook developer portal, only v5 is available.

[2019-11-06 07:40] Softelicious commented on #389
For me it's also happening, idk how it works, but if I change driver() to with() it starts working for a day, then it stops, then I change session table to array and it starts working, and stops later on, now I added stateless() after driver() and its started to work again, idk for how long

[2019-11-07 01:26] nicocucuzza opened #405 "Upgrade Facebook Graph API version"
- Socialite Version: 4.2
- Laravel Version: 5.8
- PHP Version: 7.2

### Description:
Facebook Graph API version is hardcoded to v3.0

`src/Two/FacebookProvider.php`
[code]

That Graph version is from May 2018 and will be no longer available in 7 months. Plus, the version parameter is not configurable in the library.

[2019-11-07 01:48] kirkbushell commented on #364
This needs to be updated/changed immediately -  the old API versions are no longer supported after today.

[2019-11-11 08:35] driesvints commented on #405
Does updating the version break existing apps in any way?

[2019-11-11 08:37] driesvints commented on #364
@kirkbushell still seems to be available until July 26, 2020: https://developers.facebook.com/docs/graph-api/changelog/

Everyone's free to send in prs. Please see https://github.com/laravel/socialite/issues/405

[2019-11-11 08:56] kirkbushell commented on #364
@driesvints interesting... seems the emails FB are sending are telling a different story =\

[2019-11-11 13:51] wemersonrv opened #406 "Feature Request: Please add Firebase Authentication support."
Hello.

Please add Firebase Authentication support.

A large number of mobile apps are built using firebase as the authentication provider. And by using laravel to build administrative dashboards for these applications, we get great productivity; however did not find how to authenticate mobile users in the panel using the same auth source as mobile version.

[2019-11-11 14:04] driesvints commented on #406
We're currently not using Firebase in our own products so we're probably not going to add this natively in Socialite sorry. Socialite is pretty extensible. Have a look, for example, at https://socialiteproviders.netlify.com/ to see how you can extend with a custom provider.

[2019-11-11 14:04] #406 closed

[2019-11-12 01:35] brandonburkett commented on #405
@driesvints I have updated to 3.3 (via facebook's API version drop down, back in the thread for #364 ) and it worked with socialite pinned at 3.0... but my use case is very simple w/ facebook default / no approval login app.

[2019-11-14 15:56] danielemontesi opened #407 "Multiple Facebook apps"
Is it possible to configure multiple facebook apps?

[2019-11-14 16:40] driesvints commented on #407
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-11-14 16:40] #407 closed

[2019-11-15 06:08] vijayq9 commented on #388
Open vendor\laravel\socialite\src\SocialiteManager.php and  Replace
  protected function createFacebookDriver()
    {
         $config = $this->app['config']['services.facebook'];
          return $this->buildProvider(
            FacebookProvider::class, $config
        );
    }

      protected function createFacebookDriver()
    {
         $config = $this->app['config']['services.stripe.faceboo

[2019-11-15 06:08] vijayq9 commented on #388
Than it is working

[2019-11-15 12:56] yakatz commented on #388
@vijayq9 Can you explain how this is related to my issue? I didn't say anything about Facebook.

[2019-11-15 14:18] driesvints commented on #405
Fixed in https://github.com/laravel/socialite/pull/408

[2019-11-15 14:18] #405 closed

[2019-11-18 10:39] Yogesh9900 commented on #309
visit https://phplinkedingoogleoauth2.blogspot.com/2019/11/php-linkedin-and-google-login-example.html

[2019-11-24 12:56] thewebartisan7 opened #409 "Class socialite does not exist"
- Socialite Version: 4.3
- Laravel Version: 5.8
- PHP Version: 7.x

### Description:

Socialite is installed and I add in config/app.php the Service Provider and as alias the Facade, like below:

[code]

But should be already loded the provider and alias since it's in composer?

[code]
I try also without including in config/app.php but it's the same.

In controller I add `use Socialite;`

I try al

[2019-11-25 04:27] thewebartisan7 commented on #409
Fixed! It was something wrong in my application.

[2019-11-25 04:27] #409 closed

[2019-12-16 11:34] alvirbismonte opened #415 "Is stateless available for Twitter?"
I am building a Laravel API and would like to apply stateless for Twitter but unable to do it since it returns an error that stateless method is not available for TwitterProvider class. Is their a way to do this? Just to add, FB and Google works perfectly fine and I'm able to implement it. Thank you for the responses.

[2019-12-16 12:12] driesvints commented on #415
The Twitter integration makes use of OAuth 1 so it can act on behalf of the user in order to make user actions against the Twitter API. Therefor it cannot be stateless.

https://developer.twitter.com/en/docs/basics/authentication/overview/oauth

I'll update the docs with this.

[2019-12-16 12:12] #415 closed

[2019-12-21 08:44] vk011 opened #416 "(maybe) Google oauth addon domain issue"
- Socialite Version: 4.1
- Laravel Version: 5.8
- PHP Version: 7.2

Hi, me again, the https://github.com/laravel/socialite/issues/389 guy , I might have new information.

To recap, I get an `InvalidStateException` when trying to log in via Google (Facebook works fine), however if I comment out `profile` from the scopes array then it works, but obviously without the profile information.

The websit

[2019-12-21 08:45] vk011 commented on #389
@xf039 Are you by any change using an addon domain for that specific website?

[2019-12-22 09:35] spangeni44 commented on #294
Have anyone found solution to this problem?

[2019-12-23 23:37] Hujjat commented on #294
@spangeni44 Yes we did. You should modify the socialite package source code. as @Nirjhor3029  said

[2019-12-24 07:50] spangeni44 commented on #294
@Hujjat @Nirjhor3029  solution does not give name of user thats not a solution.

[2019-12-30 10:18] driesvints commented on #416
Socialite works just fine for domains and subdomains. I have no idea what an addon domain even is. You might have more luck asking this on a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https:/

[2019-12-30 10:18] #416 closed

[2020-01-05 10:38] felix2056 commented on #294
Same problem. Nobody found a solution?

[2020-01-05 11:06] felix2056 commented on #294
I found a fix for this.
Google sent a payload back after requesting OAUTH. The payload contains a code object that you are supposed to send as headers along with the callback route on Sociallite.

Sociallite is not sending the code respose back to google thus the error.
Fixed it without having to remove profile from the scopes `vendor\laravel\socialite\src\Two\GoogleProvider.php`

`Object { code:

[2020-01-16 18:26] Adron55 commented on #294
@felix2056 How did you solve this problem ? Can u share your solution ? Thanks in advance

[2020-01-17 23:30] johnson-jnr commented on #363
Hi @driesvints, is this issue still on? I'll really love to contribute.
Thanks!

[2020-01-20 11:44] driesvints commented on #363
@johnson-jnr yes :)

[2020-01-21 15:10] hao41815w commented on #409
How did you fix that?

[2020-01-22 09:41] KinG-InFeT opened #419 "[Twitter-Custom-Config] Missing client credentials key [identifier] from options."
Hi,
i try redirect with custom config for twitter driver, but not wok:
my code is:
[code]
into

[code]

method (**SocialiteWasCalled** file) the config is null.

All other driver work fine (Facebook, google and linkedin).

Laravel 6.x and "laravel/socialite": "^4.2",

[2020-01-22 13:43] driesvints commented on #419
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-01-22 13:43] #419 closed

[2020-01-22 14:01] KinG-InFeT commented on #419
hi,
yes but this is a not a aks, this is a problem for twitter driver

[2020-01-22 14:15] KinG-InFeT commented on #419
i created a Thread: https://laravel.io/forum/socialite-twitter-missing-client-credentials-key-identifier

[2020-01-27 14:57] driesvints commented on #388
Since Taylor rejected the PR I'm afraid we won't be providing support for this, sorry.

[2020-01-27 14:57] #388 closed

[2020-02-02 02:05] pojke opened #425 "Guzzle server error not handled"
- Socialite Version: 4.3
- Laravel Version: 6.0.4
- PHP Version: 7.4.1
- Database Driver & Version:

### Description:
If there's a solution for that please let me know but as far as I can see here:
https://github.com/laravel/socialite/blob/4.0/src/Two/AbstractProvider.php#L263

Guzzle any other than 200 HTTP response is not handled which causes issues like for me when I went to grab a coffee refre

[2020-02-03 10:42] driesvints commented on #425
Hey there,

These errors aren't caught on purpose. It's wanted to let them bubble up because something went wrong with the authentication attempt. There's probably a reason why the request went wrong.

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Fo

[2020-02-03 10:42] #425 closed

[2020-02-03 21:11] pojke commented on #425
Yeah - the reason is that token expired. Are you saying that 500 server error shouldn't be captured for a developer to better handle it?

[2020-02-04 04:18] thanedar opened #426 "Upgrade guide is giving the wrong PHP version"
Currently the upgrade guide mentions that Socialite requires PHP version >= 7.1.3. So I was trying to update Socialite to 4.0 along with the Laravel upgrade to 5.6 (which is the first version that requires 7.1.3). The composer upgrade fails as `symfony/http` used by Socialite requires PHP version >= 7.2.0 which is only required at Laravel 6.x

So the upgrade guide needs to be updated to say that S

[2020-02-04 10:21] driesvints commented on #425
@pojke if you want you can attempt a PR to fix this if you believe it's a bug

[2020-02-04 10:23] driesvints commented on #426
v7.2.0 is the minimum version of Laravel v6.0, not Socialite. Socialite still supports older Laravel versions so it needs to have a lower minimum.

[2020-02-04 10:23] #426 closed

[2020-02-04 10:29] thanedar commented on #426
I understand that Socialite supports older Laravel versions. But Socialite uses `illuminate/http` (by mistake I had written `symfony/http` earlier) and that package is 7.2 and above only (https://packagist.org/packages/illuminate/http#v6.0.0). So Socialite 4.0 can only be installed on any older Laravel versions where PHP version is ^7.2.0. I can provide the composer error log if you need to verify

[2020-02-04 10:34] driesvints commented on #426
It can be installed from v5.7 until v7.0-dev: https://github.com/laravel/socialite/blob/4.0/composer.json#L21

[2020-02-04 10:36] thanedar commented on #426
Yes, just checked and looks like 5.7 is the minimum while I was trying on 5.6

[2020-02-04 11:05] driesvints opened #427 "Update Github authentication"
Got this email from Github:

We'll need to update the Github provider for this.

[2020-02-04 12:05] yemilgr commented on #427
I got the same email too just hours ago...

[2020-02-04 13:47] #427 closed

[2020-02-24 16:16] REPTILEHAUS opened #435 "Facebook Email always null"
- Socialite Version: laravel/socialite": "^3.0",
- Laravel Version: Laravel Framework 5.7.5
- PHP Version: 7.2
- Database Driver & Version: MySQL

### Description:

Email always returning null from facebook

Im using my own facebook account which was registered using an email address - so facebook have my email - some folks say that this is expected behaviour as you can sign up with a phone which

[2020-02-25 02:09] TheRed002 opened #436 "redirectUrl is not updating"
- Socialite Version: ^4.3
- Laravel Version: 6
- PHP Version: 7.3.8
- Database Driver & Version:MySQL

### Description:
I'm using multiple auth guards. For that I have multiple callbacks for each guard. But redirectUrl doesn't seem to update the redirectUrl and keep throwing redirect_uri mismatch on facebook and google.

### Steps To Reproduce:
- clean install laravel
- setup customer and worker g

[2020-02-25 08:06] driesvints commented on #435
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-02-25 08:06] #435 closed

[2020-02-25 08:11] driesvints commented on #436
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-02-25 08:11] #436 closed

[2020-02-25 20:52] TheRed002 commented on #436
@driesvints  I have gone through all of the previous posts related to this issue and I've seen that majority of them are unable to solve this. I have posted it on stackOverflow and on laravasts forum but no response from anyone. Kindly share your thoughts on this issue as I'm stuck at this point where I cannot see a way out. I've gone through package itself and everything seems normal there too. I

[2020-02-27 15:32] driesvints commented on #436
@TheRed002 can you share the stackoverflow and laracast links?

[2020-02-28 14:00] TheRed002 commented on #436
Here are the links.

https://stackoverflow.com/questions/60391903/unable-to-dynamically-change-redirecturl-when-using-socialite-for-mulit-auth

https://laracasts.com/discuss/channels/laravel/dynamic-redirecturl-in-socialite-when-using-multi-auth

[2020-02-28 16:37] driesvints commented on #436
You'll need to use separate credentials for this:

[code]

[2020-02-29 05:10] TheRed002 commented on #436
Thank you for your help @driesvints. How would I link these configurations to facebookProvider without editing the package itself?

[2020-03-02 10:56] driesvints commented on #436
You can use https://github.com/SocialiteProviders/Manager for custom managers.

[2020-03-02 21:49] niladam commented on #389
I'm also affected by this. However, i think there's an issue with the permissions the user is accepting/denying. I tried on my own account and it works flawlessly. I'm posting this here to make sure that i'm being notified when others find a solution.

[2020-03-03 04:49] TheRed002 commented on #436
Thank you man! Happy coding :)

[2020-03-04 08:18] trovster opened #437 "Unable to upgrade to Laravel 7"
- Socialite Version: 4.3.2
- Laravel Version: 7.0.2
- PHP Version: 7.3.14

### Description:

Unable to upgrade to Laravel 7 with the latest Socialite dependency.

- Installation request for laravel/framework ^7.0 -> satisfiable by laravel/framework[7.x-dev, v7.0.0, v7.0.1, v7.0.2].
- Installation request for socialiteproviders/manager ^3.4 -> satisfiable by socialiteproviders/manager[v3.4, v3.4.1,

[2020-03-04 08:21] trovster commented on #437
Sorry, this was due to Socialite Providers manager package.

[2020-03-04 08:21] #437 closed

[2020-03-04 12:39] centraleffects commented on #399
I  have the same issue when using google driver.

[2020-03-15 02:29] Jimbolino commented on #363
i would advise against this.
comma seems to be more frequent than space:
(excuse my bad shell scripting skills)
[code]
source: https://github.com/SocialiteProviders/Providers/tree/master/src

[2020-03-27 18:24] InfiniteCoder96 commented on #294
Hi guys,
 is there any solution to this without removing 'profile' from $scopes in GoogleProvider.php ?

[2020-03-31 03:29] thomas-cruz commented on #389
I have the same issue. I can add stateless() to get around it, but now it results in 400 bad request missing required parameter: code

[2020-03-31 06:10] vk011 commented on #389
@thomas-cruz Are you using an addon domain?

[2020-03-31 06:17] thomas-cruz commented on #389
I'm just running it locally on my machine.

On Tue, Mar 31, 2020, 2:10 PM vk011 <notifications@github.com> wrote:

[2020-04-05 18:07] Wulfheart commented on #409
Still interested how this could be solved?

[2020-04-13 22:39] OmdaMukhtar commented on #401
@driesvints which means socialist will not do it for me right now.

[2020-04-16 18:59] dilpreet91 commented on #294
This issue if from date on 6 Nov 2018, but still no solution on this. @driesvints  I tried the shared discussion forums also. Could you please advise on as, that will be helpfull

Thanks in advance

[2020-04-17 17:25] dilpreet91 commented on #389
@vk011  Did you get solution for your problem?

[2020-04-17 17:27] vk011 commented on #389
@dilpreet91 No, I guess profile just won't work on addon domains for some reason.

[2020-04-17 17:46] dilpreet91 commented on #389
I just tried with `stateless()`
`public function redirectToGoogle(){
        return Socialite::driver('google')->stateless()->redirect();
    }
 public function googleLogin(Request $request)
    {
        try {
                $user = Socialite::driver('google')->stateless()->user();
        } catch (\Exception $e) {
          dd($e);
        }
`
I got the user detail along with profile data

[2020-04-17 23:42] LorenzoSapora opened #441 "iignatov / LightOpenID is abandoned, uses PHP5s get_magic_quotes_gpc"
- Socialite Version: ^4.1
- Laravel Version: ^7
- PHP Version: ^7.4
- Database Driver & Version: MySQL 5.7

### Description:

Better explained here: https://github.com/iignatov/LightOpenID/issues/20

### Steps To Reproduce:

- Install socialite
- install openid provider (steam, for example)
- try to grab credentials
- error ` $params['openid.' . $item] = function_exists('get_magic_quotes_gpc') &&

[2020-04-20 07:49] driesvints commented on #441
We don't support openid.

[2020-04-20 07:49] #441 closed

[2020-04-22 10:58] lebedevsergey opened #442 "Multiple concurrent OAuth2 callback requests can get valid state parameter value"
- Socialite Version: 3.4.0
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version:

### Description:
Multiple concurrent OAuth2 callback requests can get valid state parameter value which stores in `session` and is removed (pulled) immediately after reading it. This seems to be related to the way that `Laravel` work with session data - all changes in session data are saved to the pe

[2020-04-23 08:17] driesvints commented on #442
Heya, thanks for reporting. I'm currently running a fairly large app with thousands of users and never experienced this problem. This seems like an edge case really. I guess we can't prevent people from pressing a button multiple times? I don't see an easy way to solve this in Socialite but you're free to attempt a new PR.

[2020-04-23 08:17] #442 closed

[2020-04-23 08:51] mitul69 commented on #359
Hello,

Is there any place where i can find the issue resolved

[2020-04-30 15:16] ronimondal commented on #409
same issue

[2020-05-03 19:54] ammarbrohi opened #444 "Social Providers link broken"
- Socialite Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

https://socialiteproviders.netlify.app/
The link is broken

### Steps To Reproduce:

[2020-05-04 08:38] driesvints commented on #444
We don't maintain that website.

[2020-05-04 08:38] #444 closed

[2020-05-05 16:49] workzentre commented on #389
Same here... It works well on localhost, without SESSION_DOMAIN, without stateless(), and any other possible suggestion I found. but Live in production, I end up with the same Laravel\Socialite\Two\InvalidStateException
vendor/laravel/socialite/src/Two/AbstractProvider.php:210

[2020-05-05 20:51] liepumartins commented on #389
Does this has anything to do with 'same_site' setting for session cookies, as mentioned on [this SO answer](https://stackoverflow.com/a/60997974)?

[2020-05-06 16:32] kossa commented on #333
@driesvints any solution ?

[2020-05-07 15:19] flatdragon opened #445 "Yandex OAuth Issue"
- Socialite Version: 4.3.2
- Laravel Version: 6.5.1
- PHP Version: 7.2.10
- Database Driver & Version: MySQL 5.8

### Description:
There is an issue with SocialiteProviders/Yandex package and Yandex OAuth, that comes maybe few days ago (customer contact me today about issue).

The problem of issue is that Socialite package doesn't filter empty values of $fields array. As a result there is an empty

[2020-05-07 15:21] driesvints commented on #445
We don't maintain this.

[2020-05-07 15:21] #445 closed

[2020-05-07 20:23] adwiv commented on #388
@yakatz I had the same requirement, and I agree that the redirect url should be optional in the config, however I found it is possible to use routes for redirect urls. There is a method `redirectUrl($url)` on the socialite provider that can be used to override the one stated in config. We need to override it in both the redirect method as well as in the callback for it to work properly.

To do wha

[2020-05-12 18:38] derekmd commented on #402
@driesvints With the Oct 28, 2019 PR merged, it looks like this issue can be closed?

[2020-05-12 18:47] driesvints commented on #402
@derekmd good catch, thanks.

[2020-05-12 18:47] #402 closed

[2020-05-17 18:26] yakatz commented on #388
@adwiv Thanks, but that doesn't seem to work for Google. You run into issue #382

[2020-05-17 21:08] adwiv commented on #388
@yakatz That issue only arises if you want to use a different `client_id` instead of the one defined in the config file. The only way to do it is by overriding the request using the `with([..])` method which is unfortunately not implemented during the token verification phase.

However, if you just want to use a different callback url,  `redirectUrl` method works perfectly. The same is also mentio

[2020-05-17 21:52] adwiv commented on #382
Here are the offending code mentioned by @lakerobin in the `AbstractProvider` class.

When we call `with([])` method, the passed array is stored as `$parameters` field.

https://github.com/laravel/socialite/blob/65f474ac5ed5b24d1dfd5daca0fae7b383530f78/src/Two/AbstractProvider.php#L434-L436

`getCodeFields` method is called to get all the fields for making a request to the provider. In this method

[2020-05-18 03:29] yakatz commented on #388
I don't know - I think that is what I am doing:

[code]

[2020-05-18 06:48] adwiv commented on #388
You need to set the redirectUrl in the `handleProviderCallback` too.

    $user = Socialite::driver($provider)->redirectUrl($redirectUrl)->user();

[2020-05-20 10:02] ErnestStaug opened #446 "SAML2 Login"
It would be great if this package would support SAML2 Logins, this would make a package solution for almost all SSO cases.

[2020-05-20 10:08] driesvints commented on #446
Please see the readme. We are not accepting new adapters.

[2020-05-20 10:08] #446 closed

[2020-05-20 14:03] shailesh-jakhaniya commented on #368
Hello @olivernybroe

When you have created the **Linkedin app** then go to the **product** tab and select the **Sign In with LinkedIn**. scope issues auto resolved into any version of the socialite package.

[2020-05-24 17:15] lynmije commented on #294
Can you share how you fixed the issue?

[2020-05-30 00:37] derekmd commented on #354
I created branch https://github.com/laravel/socialite/compare/4.0...derekmd:fix-missing-facebook-token-expiry but I don't have a Facebook account to test it live.

If anyone wants this fixed and has 5 minutes to spare, perform these steps on your Socialite-integrated app's local environment:

1. Configure my Socialite changes by editing composer.json with:

[code]
2. `composer update laravel/socia

[2020-05-31 20:35] MrCrap commented on #294
why has the case been closed?
what is the solution?

[2020-06-02 09:31] driesvints commented on #354
Don't have a Facebook account either so any help is appreciated.

[2020-06-04 19:03] twf-nikhila commented on #293
In mobile for Facebook or Google auth, it doesn't redirects to installed fb/Google app, instead it takes to browser.

How to redirect to the respective apps?

[2020-06-09 16:42] degeta10 opened #451 "Apple ID sign-in api or web"
Is it possible to integrate apple sign-in using api or web. Currently there exists libraries for apple sign-in but it supports for web integration only. When will it be possible to integrate Apple sign in using APIs?

[2020-06-09 18:19] driesvints commented on #451
We have no intention of supporting more adapters. Please see https://github.com/laravel/socialite/issues/369

[2020-06-09 18:19] #451 closed

[2020-06-13 07:39] estissy commented on #294
Any progress here?

[2020-06-15 14:59] Anticom commented on #384
Why did this issue get closed? I've got the same issue with the Facebook Provider.

The DocBlock of Socialite's [AbstractUser](https://github.com/laravel/socialite/blob/4.0/src/AbstractUser.php#L65) clearly states that the `getNickname()` does not return null. Looking at the sources of the [FacebookProvider](https://github.com/laravel/socialite/blame/4.0/src/Two/FacebookProvider.php#L112) `nicknam

[2020-06-18 20:18] Eman152 commented on #294
can anyone have reach to a solution?

[2020-06-19 14:05] driesvints commented on #354
Gonna close this after confirming the current implementation works.

[2020-06-19 14:05] #354 closed

[2020-06-19 14:13] driesvints commented on #363
I'm gonna close this because this isn't much of an issue really. Might not be worth the breaking change.

[2020-06-19 14:13] #363 closed

[2020-06-19 15:31] driesvints commented on #368
When I enable the "Share on LinkedIn" product and try to add the `w_member_social` scope everything works fine. You need to be an approved developer to be able to use the `r_basicprofile` scope. See https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api

[code]

![Screenshot 2020-06-19 at 17 30 22](https://user-images.githubusercontent.com/594614/85150319-abf14680-b252-11

[2020-06-19 15:31] #368 closed

[2020-06-22 14:31] driesvints commented on #357
Seems like what @theodh is the correct solution to resizing images.

@theodh I think just letting people do this in userland is fine.

[2020-06-22 14:31] #357 closed

[2020-06-23 07:53] BariqDharmawan commented on #388
You can use something like this in in config/service
[code]

I'd already use that, and it's working. So basically you don't need setup your route anymore when move the project from local to production

[2020-06-23 18:10] VinceSanityyy opened #452 "Cannot redirect to the home page after entering google account credentials"
- Socialite Version:   `"laravel/socialite": "^4.4"`
- Laravel Version: ` "laravel/framework": "^6.2"`
- PHP Version: `7.3.18`
- Database Driver & Version: MySQL

### Description:
I have a laravel project that uses google to login. I am using socialite package from laravel. I can save the user's info in my database after they confirm in the google auth screen, but after that it will redirect to lo

[2020-06-23 18:42] driesvints commented on #452
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-06-23 18:42] #452 closed

[2020-06-28 17:26] yakatz commented on #388
I don't think you understand this issue. The point is to allow setting the redirect URL dynamically using the available routes.

[2020-07-05 00:43] fmym opened #453 "composer require guzzlehttp/guzzle"
- Socialite Version: 4.4.1
- Laravel Version: 7.18.0
- PHP Version: 7.4.4
- Database Driver & Version:

### Description:
`composer require guzzlehttp/guzzle`

[code]

[2020-07-05 06:56] GrahamCampbell commented on #453
`composer require guzzlehttp/guzzle:^6.5`

[2020-07-05 07:22] fmym commented on #453
Hope to get on 7.0 soon.

[2020-07-05 08:13] driesvints commented on #453
Please open an issue on the league library. We don't maintain this package.

[2020-07-05 08:13] #453 closed

[2020-07-08 08:06] indiandeveloper2020 opened #454 "LinkedIn Login A required parameter "code" is missing"
- Socialite Version: ^4.4
- Laravel Version: 7
- PHP Version: 7.4
- Database Driver & Version:

### Description:
When ever I try to login with linkedin, I get following error.
`"class": "GuzzleHttp\\Exception\\ClientException",
    "message": "Client error: `POST https://www.linkedin.com/oauth/v2/accessToken` resulted in a `400 Bad Request` response:\n{\"error\":\"invalid_request\",\"error_descrip

[2020-07-08 08:09] indiandeveloper2020 commented on #454
This is working with other linkedin account other than Admin.

[2020-07-08 08:09] #454 closed

[2020-07-10 03:29] jonjieviduya commented on #366
@driesvints Do you have any suggestion to install it for laravel 5.5? This is still in [laravel 5.5 documenation](https://laravel.com/docs/5.5/socialite#introduction).

[2020-07-10 06:19] jonjieviduya commented on #294
Try to set the redirect URIs in your google account.

[2020-07-10 06:28] jonjieviduya commented on #294
Try to set the redirect in your services inside the config folder, like so:

[code]

[2020-07-10 11:26] driesvints commented on #366
@jonjieviduya Laravel 5.5 isn't supported anymore. Please upgrade to the latest version.

[2020-07-14 11:41] Enmaboya opened #456 "linkedin authentication does not work"
- Socialite Version: 4.4
- Laravel Version:  7.19.1
- PHP Version: PHP 7.4.3
- Database Driver & Version: mysql  Ver 8.0.20-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))

### Description:
there's been a login error:
Client error: `POST https://www.linkedin.com/oauth/v2/accessToken` resulted in a `400 Bad Request` response: {"error":"invalid_request","error_description":"A required parameter \"co

[2020-07-14 11:47] driesvints commented on #456
I've tested this recently and I could use the linkedin driver just fine. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nic

[2020-07-14 11:47] #456 closed

[2020-07-15 19:38] vishalkul opened #457 "Driver [apple] not supported. error for socialiteproviders/apple"
- Socialite Version: 4.x
- SocialiteProvider/Apple Version: 3.x
- Lumen Version: 7.x
- PHP Version: 7.2

### Description: I wanted to add social login Sign in With Apple feature in my API(using Lumen). For the same I am using socialiteproviders/apple package as suggested steps in [https://socialiteproviders.netlify.app/providers/apple.html](https://socialiteproviders.netlify.app/providers/apple.ht

[2020-07-15 19:58] driesvints commented on #457
Please open an issue on the socialite providers repo.

[2020-07-15 19:58] #457 closed

[2020-07-15 22:02] vishalkul opened #458 "Driver [apple] not supported."
- Socialite Version: 4.x
- SocialiteProvider/Apple Version: 3.x
- Lumen Version: 7.x
- PHP Version: 7.2

### Description: I wanted to add social login Sign in With Apple feature in my API(using Lumen). For the same I am using socialiteproviders/apple package as suggested steps in [https://socialiteproviders.netlify.app/providers/apple.html](https://socialiteproviders.netlify.app/providers/apple.ht

[2020-07-16 11:38] driesvints commented on #458
Please open an issue on the socialite providers repo like I asked you in the previous issue.

[2020-07-16 11:38] #458 closed

[2020-07-16 15:09] cchacholiades opened #459 "Composer update issue - outdated dependency?"
- Socialite Version: ^4.4.1
- Laravel Version: ^7.0
- PHP Version: 7.2.5
- Database Driver & Version:

### Description:

When I do:

`php composer update`

### composer why:
[code]

[2020-07-16 15:10] driesvints commented on #459
Please open an issue on `league/oauth1-client` which needs to do a release for Guzzle 7

[2020-07-16 15:10] #459 closed

[2020-07-16 15:17] GrahamCampbell commented on #459
If you manually require guzzle 6 in your app, you will avoid guzzle 3 being pulled in.

[2020-07-16 15:21] cchacholiades commented on #459
Thank you for your response @driesvints.
@GrahamCampbell I am not sure so better if I ask:

Socialite's latest version [requires](https://github.com/laravel/socialite/blob/v4.4.1/composer.json) `league/oauth1-client :  ^1.0`

league/oauth1-client has an updated version that made the transition to guzzlehttp/guzzle (https://github.com/thephpleague/oauth1-client/tree/1.7.0) is this version being pul

[2020-07-16 15:38] driesvints commented on #459
Yes: https://github.com/laravel/socialite/blob/4.0/composer.json#L23

[2020-07-16 15:53] cchacholiades commented on #459
`php composer.phar why guzzle/guzzle` shows that I am using `league/oauth1-client  1.6.2`. How?

The fix is included in  `league/oauth1-client  1.7`..

[2020-07-16 15:56] driesvints commented on #459
@cchacholiades just throw away your vendor dir and composer.lock file and run composer install

[2020-07-16 16:16] cchacholiades commented on #459
I did that, it did not work unfortunately.

- I removed vendor + composer.lock file
- run

[code]

- same end result:

[code]

[2020-07-16 16:54] driesvints commented on #459
Like graham said you need to explicitly require guzzle 6 in your composer.json

[2020-07-16 17:04] cchacholiades commented on #459
So with this `"guzzlehttp/guzzle": "^7.0"` I get:

But this "guzzlehttp/guzzle": "^6.0" works.

[2020-07-16 17:05] GrahamCampbell commented on #459
Yes, that is correct.

[2020-07-16 17:06] GrahamCampbell commented on #459
Because by asking for Guzzle 7, you are preventing the installation of the newest league oauth1 package.

[2020-07-18 10:28] cre-mer commented on #389
I tried @dilpreet91 solution and it worked locally. You have to use stateless twice. Once while redirecting to google and once when you're redirecting back to your website.

[2020-07-18 10:58] vk011 commented on #389
@cre-mer Are you using an addon domain for that specific website?

[2020-07-20 09:41] CosminAndrei2000 commented on #294
Can you please share your solution? Thanks.

[2020-07-20 09:47] driesvints commented on #294
Hey everyone,

I'm locking this issue because it either has gone off-topic, become a dumping ground for things which shouldn't be in an issue tracker or is just too old. Please try to discuss things further on one of the below channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/l

[2020-08-05 14:22] warddeboeck commented on #373
Hi,
Is this in anyway possible with Facebook, I can not seem to make it work.

[2020-08-12 13:25] redidizzy opened #460 "Method for profile link"
Good evening, I think it would be pretty useful to make a method that returns directly the user's profile link instead of writing the url then concatenate the user id.

[2020-08-13 05:39] driesvints commented on #460
Yeah I think that could be cool. Feel free to send in a PR to add it to the providers. Seems like the `FacebookProvider` already has a `profileUrl` key so we could roll that out to the other providers as well.

[2020-08-13 05:39] #460 closed

[2020-08-19 09:27] antonsmolko opened #461 "Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead."
- Socialite Version: 4.4.1
- Laravel Version: 7.25.0
- PHP Version: 7.4
- Database Driver & Version:

### Description:
Hi! Firstly, thanks for you package!

When the executing command `composer update`, i noticed following output
`Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.`
Searching for the reason returned the following result
![2020-08-19_12-20-

[2020-08-19 09:37] GrahamCampbell commented on #461
This happens because you have installed Guzzle 7. You need to downgrade to Guzzle 6.

[2020-08-19 11:21] driesvints commented on #461
See answer by graham

[2020-08-19 11:21] #461 closed

[2020-08-20 14:26] shehi commented on #459
That is "newest", in quotes. In a nutshell, `league/oauth1-client` project is dead, and it doesn't support Guzzle-7 (check its composer.json file). For that reason, everything cascades towards downgrading and resolves by installing old Guzzle lib.

[2020-08-20 14:29] shehi opened #462 "Drop OAuth-1 Support?"
My thinking might look naive, but considering:

1. `league/oauth1-client` is not being developed for 2-3 years minimum now,
2. OAuth-1 is an "archaic" spec and almost everyone has moved to OAuth-2 world
3. Because of point (1) above we can't use Guzzle-7

Why Socialite doesn't drop support for OAuth-1 completely?

[2020-08-20 16:38] shehi commented on #462
Closing this in favor of https://github.com/laravel/laravel/pull/5335

[2020-08-20 16:38] #462 closed

[2020-08-24 08:32] atiehmokhtari opened #463 "Problem with league/oauth1-client"
it seems that there is something wrong with upgrading guzzlehttp and the socialite required package league/oauth1-client.
I just tried to upgrade my laravel to laravel 7.0  and also my socialite to 4.4 and guzzlehttp/guzzle package to 7.0 the latest but the package of league/oath1-client downgrades from 1.7 to 1.6.2 which uses guzzle/guzzle instead of guzzlehttp/guzzle. so I am facing the deprecat

[2020-08-24 08:33] driesvints commented on #463
Please open an issue on the league repo.

[2020-08-24 08:33] #463 closed

[2020-09-04 06:09] bencorlett opened #468 "Add support for the incoming `league/oauth1-client`"
Hi team,

I'm working on a [v2 for `league/oauth1-client`](https://github.com/thephpleague/oauth1-client/pull/111). We have decoupled completely from Guzzle. In fact, we require:

1. [`PSR-7`](https://www.php-fig.org/psr/psr-7/) message implementation - [list](https://packagist.org/providers/psr/http-message-implementation).
2. [`PSR-17`](https://www.php-fig.org/psr/psr-17/) HTTP message factory i

[2020-09-04 06:11] bencorlett commented on #468
Thinking outside the box, I wonder if we can add a `provides: psr/http-client-implementation` to Socialite's `composer.json` file and then just delegate the PSR-18 responsibility to Guzzle, or decorate it ourselves…

[2020-09-04 06:22] bencorlett commented on #468
Yes, this does work. However, this would add a bit of additional code, at least 3-4 classes. You'll notice how [`php-http/guzzle6-adaptor`](https://github.com/php-http/guzzle6-adapter) wraps not only the client but also the PSR-18 exceptions.

Anyway, let me know your thoughts and preferences and I'll invest more effort exploring the preferred solution at that point.

[2020-09-04 06:24] bencorlett commented on #468
It looks like there's a discussion over [here](https://github.com/php-http/guzzle6-adapter/pull/72) on precisely this issue.

[2020-09-04 12:44] driesvints commented on #468
@bencorlett We're about to release Socialite 5 with Laravel 8 support on Tuesday which drops PHP 7.1 support: https://github.com/laravel/socialite/blob/master/composer.json#L18

We can bump league/oauth1-client to v2 for that but it would need to be done before Tuesday. I'm not available on Monday but I can review anything on Tuesday itself before tagging the major release. Do you think it's possi

[2020-09-04 16:38] aungzawpyaemm opened #469 "Socialite"
Using version ^4.4 for laravel/socialite
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework 8.x-dev
    - Conclusion: don't install laravel/framework 8.x-dev
    - laravel/socialite v4.4

[2020-09-08 08:23] driesvints commented on #469
Socialite 5 will be released today alongside Laravel 8

[2020-09-08 08:23] #469 closed

[2020-09-11 01:43] temwa opened #473 "Social Login Logout"
Hi,

I cannot find documentation on how to logout after social login, for example with Facebook or Google. It would be great if I can be able to logout a user when logging them out of Laravel. Are there any plans to implement this feature.

[2020-09-11 11:46] driesvints commented on #473
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2020-09-11 11:46] #473 closed

[2020-09-11 14:42] caturseptian opened #474 "ErrorException: Trying to access array offset on value of type null in file /****/vendor/laravel/socialite/src/SocialiteManager.php on line 125"
- Socialite Version: 4.4.1
- Laravel Version: 7.25.0
- PHP Version: 7.4.3
- Database Driver & Version: mysql 8.0.21

### Description:
ErrorException: Trying to access array offset on value of type null in file /****/vendor/laravel/socialite/src/SocialiteManager.php on line 125

### Steps To Reproduce:

[2020-09-11 14:46] #474 closed

[2020-09-23 15:05] abejenaru opened #476 "CAS (Central Authentication Service) integration"
Hi, any idea if Socialite can be used for CAS authentication, or if there are plans to integrate it ? Thanks!

[2020-09-23 15:42] driesvints commented on #476
Hey there. We're not adding new adapters at this time. Please see out readme.

[2020-09-23 15:42] #476 closed

[2020-09-26 05:52] anandagrawal84 opened #477 "Facebook graph API v8"
Is there a plan to upgrade the Facebook provider to support latest facebook graph api that is v8

[2020-09-28 12:31] driesvints commented on #477
You can already use `usingGraphVersion`. Is there anything specific not working for you?

[2020-09-28 12:31] #477 closed

[2020-09-28 13:59] samfrm commented on #477
Maybe wanted to ask if it needs any update to support this?

**Changes to tokenless access for User Picture and FB/IG OEmbed endpoints:**
https://developers.facebook.com/blog/post/2020/08/04/Introducing-graph-v8-marketing-api-v8

[2020-09-28 15:47] driesvints commented on #477
@samfrm can you explain a bit more? Is this a request for new features?

[2020-09-28 15:53] samfrm commented on #477
@driesvints  It's about facebook's new update on that they will force developers to provide app token to get user's public profile picture. But I am not sure this will affect any parts of socialite.

[2020-09-28 17:06] driesvints commented on #477
Would be willing to accept a PR to update the needed bits. Best be sent to master if breaking.

[2020-10-01 06:35] Munkhdemberel opened #478 "Facebook login Invalid appsecret_proof provided in the API argument"
- Socialite Version: 5.x-dev or 6.x-dev
- Laravel Version: 7.20.0
- PHP Version: 7.2.5
- Database Driver & Version:

### Description:

First of all thank you for library.
I am using FB login functions of socialite and it was working fine yesterday.
But is giving error from today suddenly and have no idea why this error message is occurred.
Please help on this issue?

[2020-10-01 06:42] raditzfarhan opened #479 "Facebook 403 Forbidden Missing Permissions"
- Socialite Version: v5.0.1
- Laravel Version: 8.7.1
- PHP Version: 7.4.6
- Database Driver & Version: MySQL 5.7.24

### Description:
When using Facebook driver to login, received 403 Forbidden error on callback because of the following code below.

`Socialite::driver('facebook')->user()`

Exact error message as below:
[code]

### Steps To Reproduce:
1. Install latest Laravel.
2. Install latest La

[2020-10-01 06:51] mathiasmoser commented on #479
we get the same error with Laravel 7.28.1 and socialite v.4.4.1

[2020-10-01 07:00] mathiasmoser commented on #479
it seems that there is a permission problem with the requested fields (fields=name,email,gender,verified,link), if i manually remove gender and link from the fields i get a response from fb

[2020-10-01 07:19] mathiasmoser commented on #479
as a workaround i removed the fields gender and link from the requested fields, because this permissions have be requested in the facebook app settings and also require separate review process:

**With these reduced fields the request will work again:**
Socialite::driver('facebook')->fields(['name', 'email', 'verified'])->userFromToken($accessToken)

[2020-10-01 07:34] driesvints commented on #479
I want to investigate first why this is broken in the first place after having worked for so many years. Did Facebook update its API? The API is versioned so this would be a breaking change on their part? Seems unlikely.

[2020-10-01 07:35] driesvints commented on #478
Are you just using a plain setup of the Facebook driver or did you modify anything from the base install? Please share some code.

[2020-10-01 07:36] driesvints commented on #478
Also please share your exact Socialite version where you're experiencing this.

[2020-10-01 07:36] raditzfarhan commented on #479
@driesvints I believe so. Yesterday was still working fine.

[2020-10-01 07:40] raditzfarhan commented on #479
Thanks @mathiasmoser your solution is working.

[2020-10-01 07:41] Munkhdemberel commented on #478
@driesvints Thank you for your response! No I didn't change anything from base install.
Giving error for below line only:
 $FBUser = Socialite::driver('facebook')->userFromToken($request->input("sm_token"));

Please check below link:

[](https://stackoverflow.com/questions/64148971/why-facebook-socialite-login-not-working-suddenly?noredirect=1#comment113438317_64148971)

[2020-10-01 07:48] Maxwellkurt0407 commented on #479
Good day, how do I apply this fix? I've been having the same problem as well

[2020-10-01 07:55] driesvints commented on #478
Please share your socialite version.

[2020-10-01 07:57] driade commented on #479
I've got this error in two apps this morning (CET) - (Socialite and Hybridauth), and after having myself seen it failing, now it seems it's working. Could anyone confirm it works again without further modifications? Is it possible Facebook had fixed something on their side?

Thanks in advance.

[2020-10-01 08:03] mathiasmoser commented on #479
yes i can confirm that it seems to work again without any modifications

[2020-10-01 08:04] Munkhdemberel commented on #478
![ss1](https://user-images.githubusercontent.com/20177267/94783694-a1bd1780-03ff-11eb-9f1e-9b2942982758.PNG)
![ss2](https://user-images.githubusercontent.com/20177267/94783699-a386db00-03ff-11eb-8d23-4f38e5267184.PNG)

Sorry I couldn't detect specific version. Please see above uploaded images.

[2020-10-01 08:17] raditzfarhan commented on #479
Yes, seems like now it's working again. Looks like Facebook has fixed it on their side.

[2020-10-01 08:23] Munkhdemberel commented on #478
@driesvints thank you for your rapid response and again appreciate for good library.
I am closing issue now and issue was more related with FB and resolved 15 mins before.
Again sorry for the mess.

https://developers.facebook.com/status/issues/817076795498952/

[2020-10-01 08:24] #478 closed

[2020-10-01 08:26] driesvints commented on #479
Seems like a facebook issue indeed: https://developers.facebook.com/status/issues/817076795498952/

[2020-10-01 08:26] #479 closed

[2020-10-05 15:26] lubistick commented on #373
Hello.
I checked how it works with google and facebook in stateless API. Hope it works in your case too. U need use

`
public function doReservation($provider)
 {
    return Socialite::driver($provider)
        ->with(['state' => 'event_slug=foobar'])
        ->redirect();
}
`

To obtain event_slug in handleProviderCallback() do the following

`
public function handleProviderCallback(Request $requ

[2020-10-09 15:10] aaronpk opened #483 "Add support for the OAuth 2.0 PKCE extension"
Many OAuth providers support the [PKCE](https://oauth.net/2/pkce/) extension, so it would be great to see this added in the core OAuth 2 class so that it can be leveraged by providers.

While PKCE was originally created for native apps, it also protects against [authorization code injection](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-16#section-4.5) even for web server apps that

[2020-10-09 15:14] driesvints commented on #483
https://laravel.com/docs/8.x/passport#code-grant-pkce

[2020-10-09 15:20] aaronpk commented on #483
That's a link to Passport. I'm talking about adding support as an OAuth client so that Socialite providers can use PKCE without having to write that code in each provider's extension.

[2020-10-09 15:22] driesvints commented on #483
Ah wow sorry. Totally didn't see this was the Socialite repo.

I'm not sure if that's needed though. Socialite is only for social authentication and isn't meant to authorize API's.

[2020-10-09 15:35] aaronpk commented on #483
No worries.

PKCE isn't just about authorizing APIs, it's for any OAuth client regardless of what it's doing. Since Socialite is used to talk to many OAuth servers (even just for social authentication), the client should be doing PKCE wherever possible. I thought it would make the most sense to add this at the core rather than duplicate that work in every Socialite provider.

[2020-10-09 15:38] driesvints commented on #483
Do all of the 1st party providers currently support this? What key does it need to be stored under?

[2020-10-09 16:01] aaronpk commented on #483
Unfortunately the only one of the providers in this repo that supports it is Google. However many of the ones in the [SocialiteProviders](https://github.com/SocialiteProviders/Providers/tree/master/src) repo support it.

That said, any conformant OAuth server is supposed to not fail if the additional PKCE parameters are included (PKCE was designed to be backwards compatible), although I have seen

[2020-10-09 16:24] aaronpk opened #484 "Include `grant_type=authorization_code` in the core OAuth 2 AbstractProvider"
The parameter `grant_type=authorization_code` is a required parameter in OAuth 2 in the POST request to the token endpoint. It's an unfortunate accident that some of the core providers in this repo don't require it. Any conformant OAuth server will require it, as is evidenced by the number of providers that have to add this property by extending the `getTokenFields` method.

This property should b

[2020-10-09 17:04] saeedvaziry opened #485 "Not working with Bitbucket"
- Socialite Version: 4.4.1
- Laravel Version: 7.26.1
- PHP Version: 7.4
- Database Driver & Version:

### Description:

The Bitbucket driver is not working and I am getting this error

    Client error: `POST https://bitbucket.org/site/oauth2/access_token` resulted in a `400 Bad Request` response: {"error_description": "Missing required field: code", "error": "invalid_request"}

In the same condit

[2020-10-09 17:07] saeedvaziry commented on #485
Closing this, I have forgotten to set the Account and Email read permissions on the Bitbucket Oauth App

[2020-10-09 17:07] #485 closed

[2020-10-09 18:36] taylorotwell commented on #483
I don't have a huge problem with this if someone wants to PR it.

[2020-10-12 08:45] quanengineering commented on #419
I also had this issue.

[2020-10-14 13:27] precompiled opened #487 "getAvatar() doesn't return the Facebook avatar"
- Socialite Version: v5.0.1
- Laravel Version: v8.4.0
- PHP Version: v7.3.11
- Database Driver & Version: MySQL

### Description:
The `getAvatar()` method doesn't return the publicly available profile image URL. It assumes size/type = normal, which is fine, but it lacks the access token, thus returning the default Facebook "no profile image" image.

If one is to retrieve the avatar, one must appen

[2020-10-18 14:52] kdaniel21 commented on #373
Thanks @lubistick, it worked for me, but after that Socialite throws an InvalidStateException. How did you overcome this?

[2020-10-19 08:34] driesvints commented on #483
@aaronpk feel free to send in a PR 👍

[2020-10-19 08:46] driesvints commented on #484
Thanks. Feel free to PR this if you want.

[2020-10-19 19:45] driesvints commented on #487
It works just fine for me.

[2020-10-19 19:45] #487 closed

[2020-10-20 13:16] #484 closed

[2020-10-20 13:34] galkrisztina commented on #487
@precompiled could you resolve it? I'm still facing this issue.

[2020-10-20 13:37] driesvints commented on #487
@precompiled @ptlevi @galkrisztina instead of downvoting my reply, please provide more accurate steps to reproduce. I tested with the above and the avatar urls were publicly accessible for me.

[2020-10-20 18:41] precompiled commented on #487
@driesvints  Well, there was nothing more I could tell you apart from what I wrote. It just doesn't work and requires an access token, as mentioned. 😄

**But!** I've just received an email from Facebook that's related to this.

Take a look at this announcement, under the "**Developer Action Required
Changes to tokenless access for User Picture and FB/IG OEmbed endpoints:**" section:
https://develo

[2020-10-20 18:46] precompiled commented on #487
As mentioned originally, I've just appended the `access_token` to the query. Like so:
[code]

Hopefully this won't be needed once the fix comes. :)

[2020-10-20 19:20] jadamec commented on #487
I must agree with @precompiled . I had a same problem, so I googled and found this solution https://stackoverflow.com/a/63965774/6597737 and just before opening a new issue here.. found this. :) Hopefully this will be fixed soon. Thanks!

[2020-10-20 19:25] jadamec commented on #487
In addition, there also could be an option for the `->getAvatar()` method to choose an image size.

**Steps To Reproduce:**

Socialite::driver('facebook')->user()->getAvatar(1920) will create:
https://graph.facebook.com/v3.3/ID/picture?width=SIZE&access_token=TOKEN

[2020-10-21 09:21] edgarsn commented on #487
Try using `Socialite::driver('facebook')->user()->avatar_original`. At least then you can crop to your preferred size.

[2020-10-21 09:30] jadamec commented on #487
I know this attribute, however, I often need a different size (e.g. 300px or 980px) and croping it even it already exists.. is quite strange, but thanks... 👍

[2020-10-21 10:01] precompiled commented on #487
@edgarsn @driesvints Any chance of actually supporting the variable size, as @jadamec proposed?
How would that work taking other Social providers in account?

Thanks.

[2020-10-22 09:23] driesvints commented on #487
I have no idea how this would work with the other providers so I don't believe this can be done here. Socialite is really about authentication. If you need a specific picture format I'd suggest you solve that in user land.

[2020-10-22 12:27] driesvints commented on #487
@precompiled thanks for that post btw. Would have helped if you posted that in the original issue. I didn't know they were getting deprecated.

[2020-10-22 15:04] precompiled commented on #487
Np. I didn’t have that info at the time, as mentioned in my previous
message. :)

On Thu, 22 Oct 2020 at 14:28, Dries Vints <notifications@github.com> wrote:

[2020-10-24 13:01] rihardssceredins opened #490 "Calling user method twice throws InvalidStateException"
- Socialite Version: 5.0.3
- Laravel Version: 7.4.10
- PHP Version: 7.4.10

### Description:
Hey,

I wanted to extract some authorization code from the controller where I'm handling the provider callback to a form request so I could just deal with user creation and log in in the controller itself. 🚀

However that resulted in calling the `user` method twice (first in the form request and then in th

[2020-10-26 10:45] driesvints commented on #490
You indeed can't call this twice. Caching the user might not be a bad idea. Feel free to send in a PR if you want.

[2020-10-26 10:45] #490 closed

[2020-10-27 04:52] ducvu91 opened #492 "Can't install in laravel 7"
- Socialite Version:  5.0.3
- Laravel Version: 7.28.4
- PHP Version: 7.3.8
- Database Driver & Version:

### Description:
Can't install
`
 Problem 1
    - Installation request for sammyk/laravel-facebook-sdk ^3.5 -> satisfiable by sammyk/laravel-facebook-sdk[3.5.0].
    - Conclusion: remove laravel/framework v7.28.4
    - sammyk/laravel-facebook-sdk 3.5.0 requires illuminate/auth ~5.0|~5.1|~5.2|~5

[2020-10-27 09:05] driesvints commented on #492
I can install Socialite v5 in a fresh Laravel v7 project just fine.

[2020-10-27 09:05] #492 closed

[2020-10-28 09:16] monika-mni commented on #333
I am facing the same issue with Instagram login. Can anyone please help here!

![https-www-instagram-com-oauth-authorize-client_id-349148989642877-redirect_uri-https-staging-sa-aec-clients-co-in-socialloginplus-callback-instagram-scope-basic-response_type-code-state-LyMzUfRXLmvmMJZv4gE4G7xmZ](https://user-images.githubusercontent.com/67259118/97416308-457ce300-192c-11eb-81f9-6abcf1a475f9.png)

[2020-10-30 10:49] danilopolani opened #493 "Undefined method scopes when chained"
- Socialite Version: 5.0.3
- Laravel Version: 8.12.3
- PHP Version: 7.4.10
- Database Driver & Version: N/A

### Description:
When chaining `Socialite::driver()` with `scopes()` intellisense returns an error because `scopes()` method is not actually provided within `\Laravel\Socialite\Contracts\Provider`.

TBH I don't know how this could be solved since `Contracts\Provider` is used also in `One` p

[2020-10-30 10:58] driesvints commented on #493
We have no plans on digging into this ourselves. Feel free to PR something if you like 👍

[2020-10-30 10:58] #493 closed

[2020-11-02 13:07] pdolinaj opened #494 "Add support for Guzzle v7"
I installed this package together with Fitbit provider under my Laravel 8 project but Fitbit uses Guzzle v6 and not the latest v7 which makes it impossible to use. Can support for Guzzle v7 be added? Thank you

[2020-11-02 13:09] driesvints commented on #494
We already support guzzle 7: https://github.com/laravel/socialite/blob/5.x/composer.json#L20

[2020-11-02 13:09] #494 closed

[2020-11-05 04:56] nomura-kainos opened #496 "Unable to install in composer2"
- Composer Version 2
- Socialite Version: 5.1
- Laravel Version: 6.2
- PHP Version: 7.4
- Database Driver & Version:

### Description:

Hello.
When I try to install laravel/socialite with composer2, I can't find the package and it won't install
I tried it with composer1 and it installed with no problems. Could you please check it out?

### Steps To Reproduce:

[code]

Could not find package larave

[2020-11-05 12:03] driesvints commented on #496
Works fine for me.

[2020-11-05 12:03] #496 closed

[2020-11-05 14:35] mehrancodes commented on #388
it worked!

[2020-11-17 09:49] pooryasadidi6868 opened #497 "impelement ZarinPal payment system as new provider"
**ZarinPal** is an online payment gateway which is the first system started service providing in Iran. They are the only company which have certification of work from central bank of Iran and none of their competitors have this type of certifications.

On the other hand and services side they have the largest bundle of services from interconnection of banks till new channels payment like USSD. On

[2020-11-17 09:51] driesvints commented on #497
Hey there, please see our readme:

<img width="374" alt="Screenshot 2020-11-17 at 10 51 18" src="https://user-images.githubusercontent.com/594614/99374425-da875200-28c2-11eb-9a0c-3acd27c49dfb.png">

[2020-11-17 09:51] #497 closed

[2020-11-20 19:22] aaronpk commented on #483
Will do, thanks! I've got this on my calendar.

[2020-11-23 07:26] shahrizal96 opened #501 "Invalid verification code format when login through facebook app's browser"
- Socialite Version: ^4.4
- Laravel Version: ^7.0
- PHP Version: 7.4.7
- Database Driver & Version:

### Description:
First of all thanks for the awesome package.

I currently develop web app using vue+nuxt (frontend) and laravel(backend). Currently having problem with laravel socialite when browse using mobile facebook application's browser for both ios and android. Its working fine when using we

[2020-11-23 07:57] driesvints commented on #501
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2020-11-23 07:57] #501 closed

[2020-11-23 16:38] shahrizal96 commented on #501
Hi.. After I update the latest version, its still same. Really hope if you can assist me. Thanks in advance.

[2020-11-23 16:40] driesvints commented on #501
@shahrizal96 can you maybe try out a support channel first? I very recently tried out the Facebook driver and it worked for me.

[2020-11-23 16:49] shahrizal96 commented on #501
Thanks for the fast response. Really appreciate it.
What do you mean by try out support channel? Kind of new to this community.
Did you try it through facebook app's browser?
If its possible, do you mind share your blade callback?

[2020-11-23 16:52] driesvints commented on #501
One of these:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&prompt=1)

[2020-11-25 07:10] Mahtabalam opened #502 "Starting January 4, 2021"
Google will discontinue support for sign-ins to Google accounts from embedded browser frameworks, starting January 4, 2021.

This package effect by this?
If yes then what is the next step?

[2020-11-25 18:31] Mobashir-Monim commented on #389
Whenever I try with the state-full way, it works on localhost but not on the server.
I had to use in stateless for the deployment.

Is there a particular reason why including state creates an error only in production? Or am I missing something?

[2020-11-26 07:00] driesvints commented on #502
No since this isn't an embedded solution.

[2020-11-26 07:00] #502 closed

[2020-11-26 07:02] Mahtabalam commented on #502
Thanks for update!!

[2020-12-03 18:15] roozeec opened #503 "getTokenUrl -> $this.config variable empty"
- Socialite Version: 5.1.1
- Laravel Version: 8.16.1
- PHP Version: 7.4.13

I'm trying to use Microsoft graph provider (https://github.com/SocialiteProviders/Microsoft-Graph) in order to use for multi tenant app.

The facts : when I use the provider with the .env where I set the Client secret and id, all is working well.
Now I want to setup this configuration on the fly, so I use the setConfig fro

[2020-12-03 18:21] driesvints commented on #503
Hi there,

We don't support this adapter ourselves. Please try a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&chann

[2020-12-03 18:21] #503 closed

[2020-12-03 20:06] roozeec commented on #419
Hi, I have same problem on another driver : https://github.com/laravel/socialite/issues/503
Did you solve your problem ?

[2020-12-03 20:08] KinG-InFeT commented on #419
really bad support

[2020-12-03 20:11] roozeec commented on #503
Not really sure it is on driver , this problem seems occur a few times https://github.com/laravel/socialite/issues/419

[2020-12-04 08:24] roozeec commented on #419
In the microsoft graph provider , i added this function which get the session data ::

    public function getAccessTokenResponse($code)
    {
        if (session('clientId')) {
            $this->clientId = session('clientId');
            $this->clientSecret = session('clientSecret');
            $this->redirectUrl = session('redirectUrl');
        }
        $response = $this->getHttpClient()->p

[2020-12-04 08:25] roozeec commented on #503
In the microsoft graph provider , i added this function which get the session data ::

    public function getAccessTokenResponse($code)
    {
        if (session('clientId')) {
            $this->clientId = session('clientId');
            $this->clientSecret = session('clientSecret');
            $this->redirectUrl = session('redirectUrl');
        }
        $response = $this->getHttpClient()->p

[2020-12-04 09:23] KinG-InFeT commented on #419
thank you for the code snippet

[2020-12-04 15:55] driesvints commented on #487
Unfortunately we were forced the fix for this. Please see https://github.com/laravel/socialite/pull/504

[2020-12-10 19:30] smares opened #505 "Cannot login using Twitter due to exception"
- Socialite Version: 5.1.2
- Laravel Version: 8.18.1
- PHP Version: 8.0.0

### Description:
Invoking `Socialite::driver('twitter')->redirect();` throws an exception:

`League\OAuth1\Client\Signature\HmacSha1Signature::League\OAuth1\Client\Signature\{closure}(): Argument #2 ($value) must be passed by reference, value given`

### Steps To Reproduce:
- Configure Twitter API key and secret as required

[2020-12-12 17:04] smares commented on #505
Seems to be a PHP 8 issue with the dependency, see https://github.com/thephpleague/oauth1-client/issues/127

[2020-12-12 17:46] #505 closed

[2020-12-14 16:51] driesvints commented on #483
I'm going to close this as we're not looking into doing this ourselves immediately but anyone's still free to PR this if they want. Thanks

[2020-12-14 16:51] #483 closed

[2020-12-14 16:55] aaronpk commented on #483
I did the actual code change already, but I still need to write some tests before I'm ready to send a PR for it.

[2020-12-15 18:57] driesvints commented on #487
Just for reference, there's no good reason really why the current way shouldn't work anymore in v3.3. If anyone's up to file a bug report with Facebook about it they're free too.

[2020-12-21 03:32] jringeisen commented on #505
@smares I was able to resolve this by removing the & symbol in front of the $key and $value:
[code]
[code]

[2020-12-21 03:41] jringeisen opened #506 "Received HTTP status code [401] with message "{"errors":[{"code":32,"message":"Could not authenticate you."}]}" when getting temporary credentials."
- Socialite Version: 5.1
- Laravel Version: 8.12
- PHP Version: 8.0
- Database Driver & Version:

### Description:
After integrating Laravel Socialite and the Twitter provider I was receiving the following error:

Received HTTP status code [401] with message "{"errors":[{"code":32,"message":"Could not authenticate you."}]}" when getting temporary credentials.

After spending about 4 hours trying t

[2020-12-21 10:30] smares commented on #505
With that fix you can just as well remove the lines entirely. ;)

My pull request was already merged in the library, just waiting for a release.

[2020-12-21 10:38] smares commented on #506
Out of curiosity, what did you enter for `redirect` and what happens after the OAuth flow without the `redirect` set?

[2020-12-21 10:40] driesvints commented on #506
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2020-12-21 10:40] #506 closed

[2020-12-21 12:56] jringeisen commented on #506
@smares im developing locally and entered https://plan-and-post.test as the redirect. When I left it blank everything worked as expected and I was redirected to the redirect that I set in my developer portal on Twitter which was the same url as above.

[2020-12-22 18:33] jringeisen commented on #506
@driesvints I've posted on discord, StackOverflow, and Laracasts without any luck so far. It's failing in the server.php inside the ```getTemporaryCredentials()``` anytime I include a URL for the redirect. It doesn't matter what the URL is, I've tried a bunch of different ones, it always fails.
[code]
So I inspected the header and the oauth_callback is ```oauth_callback="https%3A%2F%2Fplanandpost.

[2020-12-22 18:50] smares commented on #506
Interesting, a project that also deals with Twitter and OAuth has this in the source code: https://github.com/abraham/twitteroauth/blob/d2fdb233ddd35be449ab62b13ff412aca61511e2/src/TwitterOAuth.php#L537

[2020-12-22 18:56] jringeisen commented on #506
@smares they’re removing the oauth_callback, hmm..According to the Twitter documentation the oauth_callback is a required field.

[2020-12-22 19:45] jringeisen commented on #506
I commented out the oauth_callback in order to remove it from the header to see what would happen and everything worked as expected so I guess I'm confused as to why we even include the oauth_callback in the first place.

[code]

According to the Twitter documentation, the oauth_callback is a required parameter so I thought it would break and throw an error, but this wasn't the case.

[2020-12-22 23:06] smares commented on #506
The Twitter documentation is a mess, I am struggling with media uploads where they write data must be sent as `multipart/form-data` only to later mention that `application/x-www-form-urlencoded` is also OK and when I use `multipart/form-data`, even if I calculate the signature using `oauth_*` fields as by the documentation, I get authentication errors. They write base64 encoded media data should b

[2020-12-22 23:09] jringeisen commented on #506
I used the previous package you referenced to handle image uploads, which was pretty straightforward.

[2020-12-24 00:03] jdecool opened #507 "Gitlab scopes not working"
- Socialite Version: 5.1.2
- Laravel Version: 8.19.0
- PHP Version: 8.0.0
- Database Driver & Version: MySQL 8.0

### Description:

Defining scopes with Gitlab provider not working because of an incorrect URL parameter format.

The Gitlab scope separator should be `+` and not `,` like it is by default.

But there is a second problem. The `+` character is transformed into `%2B` when the URL is crea

[2020-12-24 15:44] JeroenVanOort opened #509 "Support for self-hosted Gitlab"
The current Gitlab provider only works with gitlab.com. Gitlab also offers the ability to self-host.

Would you be willing to consider a PR an optional override of `gitlab.com`? I'm willing to work on it.

[2020-12-28 10:13] driesvints commented on #507
This has always worked until now. Did anything changed on GitLab's part?

[2020-12-28 10:15] driesvints commented on #509
Hmm yes I think we could. Perhaps add `selfHosted` method on the provider which accepts an url that sets the property? Anyway, feel free to send in a PR.

[2020-12-28 10:15] #509 closed

[2020-12-28 12:22] jdecool commented on #507
¯\_(ツ)_/¯

Last night, I've tried to use `SocialiteProviders` and worked with the library.
But when I look how they do, I don't see differences.

I'm going to test the code I used to create this issue. Maybe, it was a Gitlab bug.
Come back with more info soon.

[2020-12-28 12:29] driesvints commented on #507
We don't maintain SocialiteProviders sorry. Feel free to report an issue here anew when you've confirm there's a bug.

[2020-12-28 12:29] #507 closed

[2020-12-28 12:32] jdecool commented on #507
I know it

Sure, I'll do if I confirm the bug.

[2020-12-28 19:51] jdecool opened #511 "Gitlab scopes not working"
- Socialite Version: 5.1.2
- Laravel Version: 8.20.0
- PHP Version: 8.0.0
- Database Driver & Version: MySQL 8.0

I reopen issue #507 because I confirm the bug.

I push minimal code to reproduce the bug in [this repository](https://github.com/jdecool/socialite-gitlab-bug/blob/main/routes/web.php#L21-L30).
I also push [my credentials for the sample app](https://github.com/jdecool/socialite-gitlab-b

[2020-12-29 10:55] driesvints commented on #511
I can't even find the scopes in the GitLab documentation. Can you point me to their docs where they show an example of using scopes and the available scopes?

Also: can you recreate that repo but commit your custom changes from the skeleton separately? Otherwise it's hard to see what you've changed.

[2020-12-29 12:42] JeroenVanOort commented on #509
@driesvints Could you please tag a new relase?

[2020-12-29 12:44] jdecool commented on #511
Scopes are not listed in the documentation.
They are listed when you want to create a new application through this address: https://gitlab.com/-/profile/applications

![image](https://user-images.githubusercontent.com/433926/103284489-a764d200-49db-11eb-8845-9c31cbace151.png)

Documentation for the authorization workflow is available a this address => https://docs.gitlab.com/ee/api/oauth2.html

Ex

[2020-12-29 12:54] driesvints commented on #509
@JeroenVanOort releases are done on Tuesdays so that's today. I'll get to it somewhere today.

[2020-12-29 17:10] driesvints commented on #509
@JeroenVanOort I'm sorry I have to revise that. We're not going to do releases today because Taylor is on holiday. We'll do the releases next week.

[2020-12-31 15:22] jdecool commented on #511
I close this issue as it should be fixed by #512

[2020-12-31 15:22] #511 closed

[2021-01-01 15:16] raakkan opened #513 "Trying to access array offset on value of type null"
- Socialite Version: 5.1
- Laravel Version: 8.12
- PHP Version:8.0
- Database Driver & Version: mysql 8

### Description:
ErrorException: Trying to access array offset on value of type null in file /****/vendor/laravel/socialite/src/SocialiteManager.php on line 125

### Steps To Reproduce:

[2021-01-02 13:35] JeroenVanOort commented on #513
You don't give much information to reproduce the problem. However, my first guess is that you didn't include an entry for your service in `config/socialite.php`.

[2021-01-02 15:32] raakkan commented on #513
this is my services.php

`<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Third Party Services
    |--------------------------------------------------------------------------
    |
    | This file is for storing the credentials for third party services such
    | as Mailgun, Postmark, AWS and more. This file provides the de facto
    |

[2021-01-02 15:38] JeroenVanOort commented on #513
I don't see anything wrong with that at first glance.

In order to debug this, you could add a `dump($provider, $config);` in the indicated function and post the (redacted) output.

[2021-01-02 15:54] raakkan commented on #513
$provider "Laravel\Socialite\Two\FacebookProvider"
$config null

[2021-01-02 16:01] raakkan commented on #513
sorry this is my typo problem.
thank you for your reply.

[2021-01-02 16:01] #513 closed

[2021-01-05 22:04] pyaeswin opened #514 "Missing redirect uri parameter"
- Socialite Version: 4.3
- Laravel Version: 7.24
- PHP Version: 7.4.11

When I query user details, I got this message - 'missing redirect uri paramter'.

That is my code -
$user = Socialite::driver($provider)->stateless()->user();

And I am using for laravel vue spa auth api.

Edited:
Currently, I got this missage - 'missing authorization code'.

[2021-01-06 09:09] driesvints commented on #514
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2021-01-06 09:09] #514 closed

[2021-01-09 15:14] Me1ales commented on #333
you need add account to instagram testers, to see full error

[2021-01-12 06:15] ElForastero commented on #483
@aaronpk Can you please commit your latest changes, or just submit a PR? I'm looking forward to be able to use PKCE with Socialite package. 😃

[2021-01-14 21:04] lbreza opened #515 "Client error - missing required "code" parameter"
- Socialite Version: 5.1.3
- Laravel Version: 8.22.1
- PHP Version: 7.4

### Description:

I know there were already some of the issues (#294) related to this but this still haven't been fixed and it's bothering me for some time because I can't make it work.

It may be problem only for the specific cases but in some cases it's not working.\
If I'm wrong please correct me.

Problem is with Google p

[2021-01-15 09:17] driesvints commented on #515
This just leads me to believe there's something wrong with your setup in production.

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stack

[2021-01-15 09:17] #515 closed

[2021-01-15 10:59] PHPGuus opened #516 "Dynamic configuration"
Hi there,

One of my clients has multiple differently-named and differently-branded front end applications all making the use of the one API written in Laravel.
They would like Social Logins, and so here we are.

One of the major issues that I come across is "What do I call the application at the OAuth Integrator's side?" I can't use X because no user of Y or Z knows about X, so it makes no sense.

[2021-01-15 11:22] driesvints commented on #516
Heya. We don't have any plans for a dynamic config. As for the rest of your questions I'll need to redirect you to a support channel:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](ht

[2021-01-15 11:22] #516 closed

[2021-01-15 13:34] PHPGuus commented on #516
Hi Dries,

are you guys willing to entertain the idea of having dynamic config capabilities built in to Socialite?

Best regards,
Guus

[2021-01-15 13:39] driesvints commented on #516
Not at the time sorry.

[2021-01-15 13:57] PHPGuus commented on #516
OK - Thanks

[2021-01-15 19:10] lbreza commented on #515
You were right.

After additional debugging and researching I figured out that it was problem with server ModSecurity.\
It was blocking the Google callback request...

Thank you!

[2021-01-25 20:09] hamid159 commented on #373
You have to disable state parameter verification throught `stateless` while fetching the user.
`$user = Socialite::driver($provider)->stateless()->user();`

[2021-02-11 00:33] aaronpk commented on #483
I just submitted a PR for this! I got the tests to (mostly) work! #518

[2021-02-17 04:21] uchamb opened #521 "Apple sign in throws exception"
- Socialite Version: 5.2
- Laravel Version: 8.0
- PHP Version:7.4.15
- Database Driver & Version: Mysql / 10.3.27-MariaDB

### Description:
userFromToken method throws exception when using apple driver:
**"Not providing the current time is deprecated. Please pass an instance of DateTimeInterface."**

### Steps To Reproduce:
Just try the apple sign in from an iPhone:
$socialUser = Socialite::driver

[2021-02-17 14:59] driesvints commented on #521
This package doesn't supports an apple driver. Most likely you're experiencing this issue due to a third party package.

[2021-02-17 14:59] #521 closed

[2021-02-18 09:35] aprokopenko opened #522 "v5.2.0 generate fatal error when used in REST endpoints"
- Socialite Version: 5.2.0
- Laravel Version: 8.28.1
- PHP Version: 7.4.12
- Database Driver & Version: mysql driver, MySQL 8

### Description:
We have a stateless application, which provides the only API enpoints. This means we don't have any sessions inside.
After update to 5.2.0 and using Google auth we now get the fatal error on the endpoint, which returns auth URLs for social networks.

Larav

[2021-02-18 09:39] driesvints commented on #522
This package is only meant for web based sessions and not API authentication.

[2021-02-18 09:54] aprokopenko commented on #522
Previous version 5.1.3 worked great.

[2021-02-18 09:59] aprokopenko commented on #522
I think the correct behaviour will be to add config for enabling PCKE if it is supported by any provider.

In this case anyone can use this package

[2021-02-18 10:02] driesvints commented on #522
@aprokopenko PCKE support was added in the latest release: https://github.com/laravel/socialite/pull/518

[2021-02-18 10:04] driesvints commented on #522
I now see more clearly what you mean. @aaronpk do you know why your PR has broken things for use cases like @aprokopenko's one?

[2021-02-18 10:09] aprokopenko commented on #522
Yes, and this new addon for PCKE generates a fatal error because you use a session to store code_verifier and code_challenge. In the API you don't need this, because codes client secret/key are in safe (you can't get codes like in mobile APP or SPA). So PCKE is not needed in this case.

So more friendly is to have config for using PCKE, it can be ON by default, but should be the ability to turn it

[2021-02-18 10:14] driesvints commented on #522
I agree, it should have been opt-in. Not on by default. That should have been done in a new major version.

[2021-02-18 10:16] aprokopenko commented on #522
Cool, thanks.

[2021-02-18 10:22] driesvints commented on #522
Actually, I found a better way to check this. We'll just use the `usesState` check since that already indicates if the app uses state or not. Furthermore my comment about Socialite not being usable in an API was incorrect, sorry.

[2021-02-18 10:28] driesvints commented on #522
Sent in a PR here: https://github.com/laravel/socialite/pull/523. Thanks for reporting this 👍

[2021-02-18 13:58] aaronpk commented on #522
This may have been my misunderstanding of the `usesState` function. I thought that was referring to the OAuth parameter `state`, not the concept of state. The docs aren't super clear on this, especially because the `usesState` and `isStateless` functions are immediately followed by `getState` which *does* refer to the OAuth `state` parameter.

In any case, I am confused how the OP is handling OAut

[2021-02-18 14:11] driesvints commented on #522
@aprokopenko can you please shed some light on @aaronpk's remarks?

[2021-02-20 08:31] fabien44300 opened #524 "Since last update GoogleProvider class can't be use with api routes"
- Socialite Version: 5.2
- Laravel Version: 8.0
- PHP Version: 7.4
- Database Driver & Version:

### Description:
Since last update, the GoogleProvider class can't be use with api routes

path : vendor/laravel/socialite/src/Two/GoogleProvider.php

Now the GoogleProvider class contain a usePCKE = true and in the redirect function, it save a session :
 if ($this->usesPKCE()) {
            $this->req

[2021-02-21 07:07] the-hardik-sisodia opened #525 "Single Login via Laravel Socialite not working"
- Socialite Version: 5.2.0
- Laravel Version: 8.28.1
- PHP Version: 7.3.0
- Database Driver & Version: mysql driver

### Description:
I have been working on social login recently. My domain needs single login functionality so while creating it, I found that Single Login works perfectly when we use email id/mobile and password to login but when we use socialite and try to login with google, Faceboo

[2021-02-22 09:28] driesvints commented on #524
This is a duplicate of https://github.com/laravel/socialite/issues/522

Please respond to the questions asked here so we can figure out why this is broken for you: https://github.com/laravel/socialite/issues/522#issuecomment-781361745

[2021-02-22 09:28] #524 closed

[2021-02-22 11:47] driesvints commented on #525
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-02-22 11:47] #525 closed

[2021-02-22 14:19] #522 closed

[2021-02-22 14:25] driesvints commented on #522
We've released v5.2.1 to make PKCE opt-in instead. We'd appreciate any other insights into why this broke things for @aprokopenko and @fabien44300.

[2021-02-22 21:20] aaronpk commented on #524
@fabien44300 can you clarify the following:

* what is the redirect URL you're using? Is it a URL on the Laravel API, or is it something on the frontend part of the app?
* are you passing in a state parameter into the redirect method and checking the state on the redirect yourself? If not, this is a security issue

[2021-02-23 15:57] driesvints opened #526 "Update provider to use new defered syntax"

[2021-02-24 06:52] IamSachin opened #527 "PKCE check uses session in stateless redirect, failing the function call"
- Socialite Version: 5.2.0
- Laravel Version: 8.28.1
- PHP Version: 8.0.0
- Database Driver & Version: mysql driver, MySQL 8

### Description:
When using stateless on the google driver, ie `Socialite::driver('google')->stateless()->redirect()`, the function call will fail if I am in a session-less laravel. The problem lies in the redirect flow in `AbstractProvider.php`:
[code]
The `if ($this->uses

[2021-02-24 06:57] IamSachin commented on #527
Current workaround:
[code]
and in Provider boot, call:
[code]

[2021-02-24 07:00] #527 closed

[2021-02-24 07:00] IamSachin commented on #527
Duplicate of https://github.com/laravel/socialite/issues/522

[2021-02-24 18:56] stephan-v commented on #389
The documentation does not really go in depth about `stateless()` but could someone please explain me why this is needed for the Google socialite driver. It only works when I add it both to the redirect and handle.

[2021-02-25 03:21] trandangkhoa489 commented on #366
laravel 5.5: **composer require laravel/socialite "^3.2.0"**
Thằng khứa nào dùng laravel 5.5 hay 5.6 gì mà lỗi như trên thì cài version 3.2.0

[2021-02-25 03:22] trandangkhoa489 commented on #351
laravel 5.5: **composer require laravel/socialite "^3.2.0"**
Thằng khứa nào dùng laravel 5.5 hay 5.6 gì mà lỗi như trên thì cài version 3.2.0

[2021-02-25 09:25] aprokopenko commented on #522
Hi,

Thanks for the quick fix.

I checked the PR, so to correctly use PCKE I need to do something like this:

`Socialite::driver($driverName)->enablePKCE();`

(right now we use `Socialite::driver($driverName)->stateless();`)

[2021-02-25 09:30] aprokopenko commented on #522
Anyway, the new release is working fine now. Thanks.

[2021-02-25 12:44] driesvints commented on #522
@aprokopenko can you please answer @aaronpk's questions? https://github.com/laravel/socialite/issues/522#issuecomment-781361745

[2021-03-01 09:26] #526 closed

[2021-03-04 10:56] mihai-craita opened #530 "Facebook Avatar Picture"
- Socialite Version: 5.2.0
- Laravel Version: 8.29.0
- PHP Version: 8.0.2
- Database Driver & Version: MySQL

### Description:
Calling getAvatar after retrieving a facebook user, returns a gray, default user picture.
Facebook announced that a token will be required for accessing users pictures. Here is a link with more details: https://developers.facebook.com/docs/graph-api/reference/user/picture#

[2021-03-04 11:04] driesvints commented on #530
Please see a lengthy discussion here: https://github.com/laravel/socialite/issues/487

There's no good reason the old way wouldn't work anymore and if it doesn't please file a bug report with Facebook.

[2021-03-04 11:04] #530 closed

[2021-03-05 20:45] nabeelzqadri opened #531 "ser"
- Socialite Version: 4.3
- Laravel Version: 5.8
- PHP Version: 7.2
- Database Driver & Version:

### Description:
In Server.php line 10:

  Declaration of SocialiteProviders\Twitter\Server::getAuthorizationUrl($temp
  oraryIdentifier) should be compatible with League\OAuth1\Client\Server\Serv
  er::getAuthorizationUrl($temporaryIdentifier, array $options = Array)

### Steps To Reproduce:

It was w

[2021-03-05 20:48] #531 closed

[2021-03-05 20:49] driesvints commented on #531
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-08 11:22] alexedwalvarado opened #534 "Getting "{"error":{"message":"Unsupported get request.","type":"GraphMethodException" when login in with Facebook through Socialite and iOS"
When i login with facebook from mobile iphone5 iOS apps and it call laravel API to use socialite, I get this error:

GET https://graph.facebook.com/v3.3/me?access_token=Access_token_here=name,email,gender,verified,link&appsecret_proof=secret_proof_here` resulted in a 400 Bad Request response:

{"error":{"message":"Unsupported get request.","type":"GraphMethodException","code":100,"fbtrace_id":"fbt

[2021-03-08 11:24] driesvints commented on #534
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-08 11:24] #534 closed

[2021-03-08 20:31] leepownall commented on #531
@nabeelzqadri, if you are still having problems, update to the [4.1.1 release](https://github.com/SocialiteProviders/Twitter/releases/tag/4.1.1) of the provider.

[2021-03-18 06:14] jearsonbgomez opened #535 "Add extras feature when implementing facebook whatsapp"
Is there a way to implement facebook login using javascript in laravel socialite? Below is the example code from facebook.
[code]
Can we implement the code below?
[code]

[2021-03-18 09:14] driesvints commented on #535
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-18 09:14] #535 closed

[2021-03-18 14:35] jearsonbgomez commented on #535
@driesvints Thanks for your response. But can you suggest how to implement this feature then?

[2021-03-23 02:45] eduardoarandah opened #536 "Allow returning auth url for stateless SPA"
I'm trying to handle social logins from a SPA frontend.

My plan is fetching auth url from frontend so redirect and callback can be handled from there.

However, `getAuthUlrl` is marked as protected.

Is there another way of doing this?
(I don't want to redirect to backend URL so users get redirected again to google)

[code]

[2021-03-23 09:46] driesvints commented on #536
It should already be possible to implement Socialite in an SPA. You might want to have a look at https://github.com/joelbutcher/socialstream for inspiration. It implements Socialite in Jetstream for both Livewire and Inertia.

[2021-03-23 09:46] #536 closed

[2021-03-23 13:49] eduardoarandah commented on #536
Thanks for the tip.

However, they’re also using redirect from backend, this is possible because it’s a monolith I guess.

Socialite api doesn’t have a way of getting redirect URL, should I make a PR ?

returning a redirect
https://github.com/joelbutcher/socialstream/blob/e2828d30d59bacc877639e157ebb6b7dafcc7285/src/Http/Controllers/OAuthController.php#L90

which is a HttpFoundation\RedirectRespon

[2021-03-23 13:57] driesvints commented on #536
Hmm I'm wondering if you need that if Socialite is the right library for you? Thinking it might be better for you to use a library in the ecosystem you use?

[2021-03-23 16:14] eduardoarandah commented on #536
I just want to redirect from the SPA frontend without having to redirect to api.mysite.com first.
Just need to know the url.

Am I doing something weird? How would you do it (without inertia, just a regular vue app)

[2021-03-23 17:19] eduardoarandah commented on #536
Example code for providing frontend with auth url

[code]

[2021-03-25 14:21] bene25 opened #539 "Add login though Huawei account"
HI, are there any chance to add Huawei account login?

[2021-03-25 14:30] driesvints commented on #539
No, please see our readme.

[2021-03-25 14:30] #539 closed

[2021-03-31 10:34] shariqx5 opened #540 "Need social logged in user logout functionality"
When user authenticate my web app using facebook oauth , Then on logout i want my user to logout from facebook account too as described in facebook oauth flow on facebook page.
https://developers.facebook.com/docs/reference/javascript/FB.logout/

[2021-03-31 10:54] driesvints commented on #540
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-03-31 10:54] #540 closed

[2021-05-02 07:39] staqd commented on #415
https://medium.com/@favoriabs/twitter-stateless-social-login-sign-up-eea73bc3bb1d
package website: https://twitteroauth.com/

[2021-05-13 15:57] komarove opened #541 "Google driver InvalidStateException"
- Socialite Version: 5.2.2
- Laravel Version: 7.30.4
- PHP Version: 7.3.27
- Database Driver & Version: mysql 5.6.43

### Description:
`Laravel\Socialite\Two\InvalidStateException in /vendor/laravel/socialite/src/Two/AbstractProvider.php:236`
I tried `dd(request()->all());` in callback and detected that there is an empty array. It turned out that I had restrictions on the maximum length of `$_GET`

[2021-05-14 08:55] driesvints commented on #541
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-05-14 08:55] #541 closed

[2021-05-29 20:09] braymarco commented on #487
we can use this code to get the redirect url provided by getUrl with token

                $url = $user->getAvatar() . '&access_token=' . $user->token;
                $ch = curl_init();

                curl_setopt($ch, CURLOPT_URL, $url);
                curl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);
                curl_setopt($ch, CURLOPT_FOLLOWLOCATION, TRUE);

                $res = curl_e

[2021-06-02 10:04] hexpit opened #542 "Google One Tap returning Error 503"
My google login button is working perfectly but if I try to use google one tap login it is returning error 503:

Oops! An Error Occurred
The server returned a "405 Method Not Allowed".

Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

Can someone provide me help?

[2021-06-02 10:06] driesvints commented on #542
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2021-06-02 10:06] #542 closed

[2021-06-04 12:18] JorisDebonnet commented on #451
@driesvints, is there any chance of revisiting this discussion in the near future; i.e. to adopt the existing SocialiteProvider solution into this main repo?

The reason I am asking is because Apple _requires_ any AppStore submissions or even updates to support login with AppleID, if they already support any other providers. This was not yet the case during most of the previous discussion. I belie

[2021-06-04 12:24] driesvints commented on #451
No sorry, we have no plans for this and there's existing solutions already. See https://socialiteproviders.com/Apple/ & https://github.com/m1guelpf/laravel-apple-login

[2021-06-06 19:27] hexpit opened #543 "Kindly Provide Support Google One Tap Signin"
I tried almost everything and came to the conclusion that socialite doesn't support Google One Tap Signin as it doesn;t work the same way as oAuth does. So I needed to implement a different route than socialite to fetch a user from the $token manually, using the google/apiclient package.

To validate an ID token in PHP, use the Google API Client Library for PHP. Install the library (for example, u

[2021-06-07 08:04] driesvints commented on #543
We're not accepting new drivers, sorry. Please see the readme.

[2021-06-07 08:04] #543 closed

[2021-06-15 06:00] ankurk91 commented on #369
https://github.com/SocialiteProviders/Apple

[2021-06-18 17:18] driesvints commented on #468
Hey @bencorlett. Were you still working on v2?

[2021-06-19 11:10] ankurk91 commented on #406
https://medium.com/firebase-developers/how-to-link-google-firebase-auth-and-laravel-passport-users-244b73567594

[2021-06-22 19:21] ahangarha opened #546 "Add Mastodon Support"
Mastodon gets popularity over time. It would be good to have support for it.

Just there is one thing to keep in mind and that is there are many instances of Mastodon so the URL used for authentication  should be given by the user.

[2021-06-22 19:50] driesvints commented on #546
We have no plans for new drivers sorry. Please see our Readme.

[2021-06-22 19:50] #546 closed

[2021-06-28 12:54] driesvints commented on #468
Gonna close this one until there's info on when work on v2 is picked up again.

[2021-06-28 12:54] #468 closed

[2021-06-30 14:34] evilchis94 commented on #541
@komarove Did you manage to solve it? I'm having exactly the same issue...

[2021-07-08 08:34] matinwd commented on #541
I have the same problem... Any solutions?

[2021-07-14 10:01] quangtd92 commented on #541
I run `composer dump-autoload` and. It works for me

[2021-07-16 02:09] i-bajrai opened #547 "Unique violation: 7 ERROR: duplicate key value"
(PDOException(code: 23505): SQLSTATE[23505]: Unique violation: 7 ERROR:  duplicate key value violates unique constraint \"users_email_unique\"
DETAIL:  Key (email)=(USERS-EMAIL@bigpond.com) already exists. at vendor/laravel/framework/src/Illuminate/Database/Connection.php:357)

- Socialite Version: 5.2.3
- Laravel Version: 8.49.1
- PHP Version: 8.0.0
- Database Driver & Version: Postgres v12

###

[2021-07-16 02:13] i-bajrai commented on #547
Closing, this is an internal logic failure :(

[2021-07-16 02:13] #547 closed

[2021-07-22 15:08] pipat1995 commented on #541
So in conclusion, how can this problem be solved?
I'm facing this problem on both google and face book.
I use Laravel 8 , laravel/socialite 5.2
![image](https://user-images.githubusercontent.com/25393048/126662641-55c5a29d-585c-4257-beea-d757ab1a068a.png)

![Screenshot 2021-07-22 at 22-01-42 🧨](https://user-images.githubusercontent.com/25393048/126661792-f7bb5686-fdd7-4946-b3fb-c6d608c121ca.png)

[2021-07-22 16:05] evilchis94 commented on #541
@pipat1995 Well, in my case the error was because I started the login request using a subdomain (api.localhost) and the callback url was using another subdomain (app.localhost). I solved it by using one subdomain only but also another solution is using the SESSION_DOMAIN variable from .env file

[2021-08-03 20:08] engmsaleh commented on #521
@uchamb Any update on this issue, I'm using the `socialite` with the `Apple` provider and got the same issue?

[2021-08-04 04:00] uchamb commented on #521
I'm using "socialiteproviders/apple" package. The issue was their. As I remember I just updated to the latest 5.0.1 version and it worked.

[2021-09-17 13:45] hannguyen31011999 commented on #366
a cho e hỏi là e cài laravel/socialite mà nó bị lỗi như trên e dùng laravel version 5.8.38 fix như thế nào vậy anh

[2021-09-21 12:25] bionyxxx opened #552 "Trying to access array offset on value of type null"
- Socialite Version: 5.2.5
- Laravel Version: 8.54
- PHP Version: 7.4.19
- Database Driver & Version: MYSQL & 5.7.33

### Description:

this problem suddenly appeared when the previous one was still running properly, but when I continued to other features after 1 month suddenly an error : **Trying to access array offset on value of type null** | **vendor\laravel\socialite\src\SocialiteManager.php:

[2021-09-22 13:11] #552 closed

[2021-10-07 15:22] brandymedia opened #558 "Blank screen when redirecting to Twitter for OAuth"
- Socialite Version: 5.2.5
- Laravel Version: 8.62.0
- PHP Version: 8.0.0
- Database Driver & Version: mysql

### Description:
I've set up Socialite as per the instructions - https://laravel.com/docs/8.x/socialite.

Currently trying to authorize with Twitter but when I hit the redirect URL it's just a blank page on my own website.

If I `dd(Socialite::driver('twitter')->redirect())` I can see ther

[2021-10-07 15:24] #558 closed, assigned to nobody

[2021-11-02 09:26] Thommis commented on #389
I have the same issue here with the Microsoft Azure driver ... did you get any solution to this issue?

[2021-11-11 04:59] ramkumawathis opened #562 "socialite error in Laravel 8"
$ composer require laravel/socialite
Using version ^5.2 for laravel/socialite
./composer.json has been updated
Running composer update laravel/socialite
Loading composer repositories with package information
Updating dependencies
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Root composer.json requires php ^7.3 but your php version (8.0.10) does not

[2021-11-11 15:11] mitchierichie commented on #562
This isn't related to Socialite, you have other packages that don't meet your PHP version requirements.

e.g. infyomlabs/laravel-ui-coreui requires php ^7.3

[2021-11-11 15:18] #562 closed

[2021-11-12 05:07] ramkumawathis commented on #562
Thank you @driesvints.

Yes, This is not socialite issue. Sorry for the inconvenience.

[2021-11-13 14:55] lsmith77 opened #563 "easier pattern to override mapUserToObject() in a provider"
Maybe it is just my lack of experience with DI in Laravel, but wouldn’t it make sense to have a way to register an alternative callback for mapUserToObject() on a per provider basis to allow easy customization?

Or is the expectation to then register a custom provider, while extending an existing provider?

[2021-11-13 15:29] driesvints commented on #563
I personally think it's best to do this in userland. Retrieve the user object and map it into any object you desire. Doing this will keep socialite's code base simple and straightforward.

[2021-11-13 15:29] #563 closed

[2021-11-13 15:31] lsmith77 commented on #563
my issue was that I wanted to map additional/other fields than the provider covered by default.

[2021-11-15 14:23] driesvints commented on #563
Can't you extend the `User` class with your own and do exactly what is displayed in the example you've linked to but then with your extending class?

[2021-11-15 16:06] lsmith77 commented on #563
Ah .. that was the pattern I was searching for

I need to extend `User::setRaw()`.

Sorry for being so dense :-/

[2021-11-15 16:07] driesvints commented on #563
@lsmith77 no worries at all. Glad you found a solution 👍

[2021-12-01 15:22] robsontenorio opened #566 "[PHP 8.1] Deprecation message"
[code]

Currently in `socialite/src/AbstractUser.php`. Probably other methods should be type hinted.

`offsetExists()`
[code]

`offsetGet()`
[code]

`offsetSet()`
[code]

`offsetUnset()`
[code]

[2021-12-02 09:57] driesvints commented on #566
Thanks, I've sent in a PR for this: https://github.com/laravel/socialite/pull/567

[2021-12-02 13:09] #566 closed

[2021-12-03 15:58] vanyamil opened #568 "Set the scopes on the Socialite\User instance"
Hello,

I am currently working on mixing custom Google API calls alongside the existing Socialite implementation. As part of requesting additional scopes (using Google's [incremental authorization](https://developers.google.com/identity/protocols/oauth2/web-server#incrementalAuth)), I would like the possibility of seeing all scopes given by the current access token. These are returned in the ->get

[2021-12-03 15:59] vanyamil commented on #568
If we do store the scopes into session, then we won't even need the `Arr::exists` check - just set the default value on the `Arr::get` to be the `$this->request->session()->pull('scopes')`